<% include ../partials/header %>  
<style>
	input[type="file"]#inputBlogImage{
		display: none;
	}
	#preview-postimg{
		position: unset !important;
		width: unset !important;
		height: 100% !important;
	}
	.custom-file-label{
		position: relative;
	}
</style>


<div id="page_minheight_100" class="container mx-auto">
	<div class="row no-gutters">
		<div class="col-md-6 mx-auto my-4">
			<div class="card drop-shadow1 rounded mo-mx-2">
				<h5 class="card-header">Add New Blog</h5>
				<div class="card-body">
					<form class="new-blog" action="/colleges/<%=college%>/blogs/new" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label for="title">Blog Title</label>
							<input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
						</div>
						<div class="form-group">
							<label for="description">Blog Description</label>
							<textarea class="form-control" id="description" rows="2" name="description" placeholder="Sample Text" required></textarea>
						</div>
						<div class="custom-file my-3 form-group d-flex flex-row">
							<div>
								<img id="preview-postimg" class="rounded" src="/images/noImage.png" alt="preview" />
							</div>
							<div class="w-100 ml-2">
								<input type="file" class="custom-file-input" id="inputBlogImage" name="image" accept="image/*">
								<label id="blog_label" class="custom-file-label w-100" for="inputBlogImage">Upload Image</label>
							</div>
						</div>
						<div class="form-group">
							<label for="url">Blog Link</label>
							<input type="text" class="form-control" id="url" name="url" placeholder="abc.xyz" required>
						</div>
						<div class="form-group">
							<label for="url_name">Link Name</label>
							<input type="text" class="form-control" id="url_name" name="urlName" placeholder="Abc (opens in)" required>
						</div>
            <input type="hidden" name="isNews" value="false">
						<div class="form-group readTimeDiv">
							<label for="readTime">Read Time</label>
							<input type="number" class="form-control" id="readTime" name="readTime" placeholder="(in minutes)" min="1" max="60" required>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-success">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>
<script>
	$('#inputBlogImage').change(function(){
		var fileName = $('#inputBlogImage')[0].files[0].name;
		var truncated = fileName.trunc(20);
		$('#blog_label').text(truncated);

		var file = this.files[0];
		if (file){
			let reader = new FileReader();
			reader.onload = function(event){
				$('#preview-postimg').attr('src', event.target.result);
			}
			reader.readAsDataURL(file);
			$('#preview-postimg').addClass('active');
		}
	});
</script>