<% include ../partials/header %>  
<link rel="stylesheet" href="/css/full_views/blogs.css">


<div id="page_minheight_100">
	<div class="my-2 d-flex justify-content-center">
		<div class="w-100">
			<a href="/colleges/<%= college %>/blogs/add" class="nolink">
				<button id="add_new_blog" class="btn btn-light discoverswitch noshadow w-100 d-flex flex-row justify-content-center">
					<div id="add_new_blog_icon" class="mr-2"><img src="https://res.cloudinary.com/dubirhea4/image/upload/v1650390890/icons/blogging.png" class="cover navdp" alt="..."></div>
					<div>Add New Blog</div>
				</button>
			</a>
		</div>
	</div>

	<div class="valign p-1 pt-5 mt-5 noborder blog-card mx-auto">
		<div class="pt-1">
			<h4>Freshly in</h4>
		</div>
		<div class="pt-1">
			<a href="/colleges/<%= college %>/blogs/saved">My Bookmarks</a>
		</div>
	</div>
	<div id="client-blogs"></div>
	<div id="blogs-load-more-btn" class="text-center pt-2">
		<button id="load-more-btn" class="btn btn-light btn-sm btn-load" type="button" value="<%= bucket %>" college_name="<%= college %>" route="index">
			<span id="load-more-span"></span>Load
		</button>
	</div>
</div>


<% include ../partials/footer %>
<script src="/js/blogs.js"></script>