<% include ../partials/header %>  

<style>
	.smalldp rounded-circle {
		height: 16px;
		width: 16px;
		border-radius: 50%;
	}

	.product-tag {
		border-radius: 1em;
		font-size: 0.9em;
	}

	.product-tag:hover {
		cursor: pointer;
	}

	.blog-content {
		margin-left: 1.25rem;
	}

	.blog-card {
		border-left: 0;
		border-right: 0;
		width: 50vw;
	}

	.card-image {
		margin-left: 1rem;
		margin-bottom: 1.25rem;
		height: 100px;
		width: 100px;
	}

	.icons:hover {
		cursor: pointer;
	}

	.p-name:hover {
		cursor: pointer;
	}

	.card-link {
		text-decoration: none;
		color: inherit;
	}

	.card-link:hover {
		text-decoration: none;
		color: inherit;
	}

	.top-content {
		padding-left: 0.5rem;
	}

	.far.fa-bookmark {
		-webkit-text-stroke: 0.25px #fff;
	}

	@media (max-width: 767px) {
		.blog-card {
			width: 100%;
			margin-left: 0.5rem !important;
			margin-right: 0.5rem !important;
		}
	}
</style>

<div id="client-blogs" style="overflow: hidden;"></div>
<div id="blogs-load-more-btn" class="text-center pt-2">
	<button id="load-more-btn" class="btn btn-light btn-sm btn-load" type="button" value="<%= bucket %>" college_name = "<%= college %>">
	  <span id="load-more-span"></span>Load
	</button>
</div>


<% include ../partials/footer %>
<script src="/js/blogs.js"></script>