<div class="card mt-0 border-light lb-absolute">
  <div id="drop-chat" onclick="none_display('pushmsg');" class="btn btn-sm boldtext btncollapse text-left valign" data-toggle="collapse" data-target="#chatbox">
    <div class="text-sm mobilebold d-inline-flex">
      <span>Club chat</span>
      <span id="clubRoomConnectionsNum" class="boldtext text-sm bluecolor"></span>
    </div>
    <div class="boldtext text-xxxs ml-2">
      <% if(conversationId && conversationId != ''){ %>
        <svg id="isUserInClubRoom" height="12" width="12">
          <circle cx="6" cy="6" r="4" stroke="#f9af4a" stroke-width="1" fill="#ffdfaf"/>
        </svg>
      <% } else{ %>
        <svg id="isUserInClubRoom" height="12" width="12">
          <circle cx="6" cy="6" r="4" stroke="rgba(150,150,150,0.5)" stroke-width="1" fill="transparent"/>
        </svg>
      <% } %>
    </div>
  </div>
  <div id="chatbox" class="yellowback collapse">
    <div id="messages_container" class="card-body py-1 scroll moz-scroll">
      <div class="text-center">
        <button id="load-prevMsgs-btn" class="chat-head4 nodisplay" value="" type="button">
          <span id="load-prevMsgs-span"></span>LOAD PREV
        </button>
      </div>
      <div id="prevMsgs-div" class="">
        <div id="prevMessage-div" class="chat-head3 nodisplay">^ PREVIOUS MESSAGES ^</div>
      </div>
    </div>
    <div class="input-bottom valign px-1">
      <div class="input-group">
        <textarea id="club-message" type="text" onfocus="block_display('pushmsg'); dec_height();" class="emoji-input2 chatinput text-md form-control shadow scroll moz-scroll" name="msgText" placeholder="Write a message" rows="1" autofocus required></textarea>
      </div>
      <% if(currentUser){ %>
        <div class="pushmsg mt-auto"><button id="club-send" class="btn btn-sm btn-success btn-round btnshadow ml-1" title="Send club message"><i class="fab fa-telegram-plane"></i></button></div>
      <% } %>
    </div>
  </div>
</div>
<div class="pushmsg card mt-0" style="border-top: none;">
  <div id="chat_status_chin" class="text-sm darkgrey valign ml-1">
    <div id="club-msg-status">Status: Idle</div>
    <div class="text-xs darkgrey chat-input-tool">
      <span class="emoji-panel">
        <button id="emoji-picker2" class="emoji-panel chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
          <div id="emoji-box2" class="intercom-composer-popover intercom-composer-emoji-popover2">
            <% include ../partials/emoji_picker2 %>
          </div>
          <i class="far fa-laugh-beam"></i>
        </button>
      </span>
      <span id="thumbstack" class="btn btn-sm chat-input-tool" title="Pin chatbox"><i class="fas fa-thumbtack"></i></span>
      <span id="arrows-v" class="nopad btn btn-sm chat-input-tool" title="Expand chatbox"><i class="fas fa-arrows-alt-v"></i></span>
    </div>
  </div>
</div>