    </div>
    <script src="/js/libs/nanobar.min.js"></script>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.bundle.min.js"></script>
    <script src="/js/libs/ejs.min.js"></script>
    <script src="/js/libs/grade-customized.min.js"></script>
    <script src="/js/libs/moment.min.js"></script>
    <script src="/js/libs/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket-chat.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/swconfig.js"></script>
  </body>
</html>