    </div>
    <script src="/js/lib/nanobar.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/ejs.min.js"></script>
    <script src="/js/lib/grade-customized.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket-chat.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/swconfig.js"></script>
  </body>
</html>