<style>
  #add_new_blog{
  background: linear-gradient(to bottom, #f7f7f7 0%, #e0e0e0 100%);
  border: 0.5px solid #d3d3d3 !important;
}
#add_new_blog:hover{
  background: linear-gradient(to bottom, #f7f7f7 0%, #e7e7e7 100%);
  border-bottom-width: 2px !important;
}
.blog-card {
  border-left: 0;
  border-right: 0;
  width: 50vw;
  border: 0.5px solid #d3d3d3;
  transition: ease-out 0.15s;
}
.icons:hover, .p-name:hover {
  cursor: pointer;
}
.saveblog{
  font-size: 1.25rem !important;
}
.saveblog .far.fa-bookmark{
  -webkit-text-stroke: 0.75px white;
}
.saveblog .fa-bookmark{
  transition: transform 0.3s;
}
.card-pad{
  padding: 1rem 1rem;
}
.card-title{
  line-height: 1.75rem;
}
button.blogvote{
  color: #262626;
  font-size: 1.25rem !important;
  outline: none;
}
button.blogvote:hover * .fab.fa-gratipay{
  color: white;
  -webkit-text-stroke: 1px #d12727;
}
button.redcolor2.blogvote * .fab.fa-gratipay, button.redcolor2.blogvote:hover * .fab.fa-gratipay{
  color: #ec5b68;
  -webkit-text-stroke: 1px #e93e3d;
}
.blogcount{
  min-width: 0.5rem;
}
.bookmarked{
  -webkit-text-stroke: 0 #262626;
  color: #c73b3c;
  text-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 15%);
  transform: scaleY(2.5) translateY(0.375rem);
  background: -webkit-linear-gradient(top, #c73b3c 0%,#b8201f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.truncate3.blog-description{
  position: relative;
}
.truncate3.blog-description:after{
  content: "";
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 -2.5rem 1rem -1.5rem white;
}

@media (max-width: 767px) {
  .blog-card {
    width: 100%;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
  }
  .blog-card.noborder {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .searchdp.blogsdp{
    height: 50px !important;
    width: 50px !important;
  }
  .card-pad{
    padding: 1rem 0;
  }
  .truncate5.news-description{
    -webkit-line-clamp: 8 !important;
  }
}
</style>


<div class="container my-3">
  <div class="row no-gutters">
    <div class="card blog-card mx-auto rounded">
      <div class="card-pad">
        <div class="row no-gutters px-2">
          <div class="col valign">
            <div class="news smalldp lightgrey">
              <i class="fas fa-business-time"></i>
            </div>
          </div>
        </div>
        <div class="valign"> 
          <div class="pt-1 w-100">
            <div class="px-2">
              <a href="https://forms.gle/mKUKXoy85VmZzM536" class="nolink" target="_blank">
                <h5 class="card-title darkgrey truncate1">*Trilogy Innovation Internship Registration*</h5>
                <p class="card-text truncate5 news-description linewrap">Company Name: Trilogy Innovations (previously Codenation)
Profile: Software Development Engineer Intern
ğ——ğ˜‚ğ—¿ğ—®ğ˜ğ—¶ğ—¼ğ—»: 2 Months (Summer)/ 6 months (Jan 2023-July 2023)
Stipend: (per month): INR 150,000 per month for summer internship / 75,000 per month for semester internshipTentative Job Location(s): Remote/BangaloreCGPA Criteria: None
Branch allowed: AllProcess Details are as follows:
Coding Test: 17th July
CCAT: For shortlisted students roughly after 1 week(tentative)Interviews: First week of August (tentative)
Skill Set Required: Hands-on in coding, at least 1 scripting and 1 OOP language
Good problem-solving skills
System design basics
Good communication skills
Good Analytical Skills
DS Algorithms</p>
              </a>
              <div class="lightgrey">
                <span class="mobileNone inline">Opens in</span><span class="text-capitalize">Google Forms</span>
              </div>
              <div class="card-text valign mt-3">
                <div class="text-sm text-mob-3">
                  <span class="lightgrey">12 July</span>
                </div>
                <div class="saveblog">
                  <button id="_save" class="vote blogvote vote-save valign" type="button" title="Save blog" blogId="" bucketId="">
                    <i class="far fa-bookmark"></i>
                  </button>
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="card blog-card mx-auto rounded">
      <div class="card-pad">
        <div class="row no-gutters px-2">
          <div class="col valign">
            <div class="news smalldp lightgrey">
              <i class="fas fa-business-time"></i>
            </div>
          </div>
        </div>
        <div class="valign"> 
          <div class="pt-1 w-100">
            <div class="px-2">
              <a href="https://forms.gle/zZmrzeTJythRvYRN9" class="nolink" target="_blank">
                <h5 class="card-title darkgrey truncate1">Internship Registration for Google</h5>
                <p class="card-text truncate5 news-description linewrap">Deadline: 12 Noon, 9th July 2022 (STRICT)
Company Name: Google India.
Profile: Software Engineer (SWE)
ğ——ğ˜‚ğ—¿ğ—®ğ˜ğ—¶ğ—¼ğ—»: 2 Months (Summer)
Stipend: (per month): INR 110,000(B.Tech)
Tentative Job Location(s): Bangalore or Hyderabad
CGPA Criteria: None
Branches allowed: B.Tech - CSE, DSE, EE
Process Details are as follows:
Test: 23rd July
Interview: End of JulyJob description: https://drive.google.com/file/d/19iN3v98M-KKExNrSduoqxWqZGnXWFVtu/view?usp=sharing
                  
Interested and eligible students should fill out the below registration form.
                  
Form link: https://forms.gle/zZmrzeTJythRvYRN9
Interested and eligible students should fill out the below registration form.</p>
              </a>
              <div class="lightgrey">
                <span class="mobileNone inline">Opens in</span><span class="text-capitalize">Google Forms</span>
              </div>
              <div class="card-text valign mt-3">
                <div class="text-sm text-mob-3">
                  <span class="lightgrey">7 July</span>
                </div>
                <div class="saveblog">
                  <button id="_save" class="vote blogvote vote-save valign" type="button" title="Save blog" blogId="" bucketId="">
                    <i class="far fa-bookmark"></i>
                  </button>
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>