<form class="togglePostsView-form" action="/indexposts/settings/user/<%= currentUser._id %>?_method=PUT" method="POST">
  <div class="d-flex flex-row">
    <% if(currentUser.postsViewToggle && currentUser.postsViewToggle == 1){ %>
      <div class="circle-plus closed">
    <% } else if(currentUser.postsViewToggle && currentUser.postsViewToggle == 2){ %>
    <div class="circle-plus closed opened">
    <% } %>
      <div class="circle">
        <div class="horizontal"></div>
        <div class="vertical"></div>
      </div>
    </div>
    <div class="posts_view_toggle-pad text-sm mobiletext3 lightgrey my-auto" style="cursor: pointer;">
      <% if(currentUser.postsViewToggle && currentUser.postsViewToggle == 1){ %>
        <em>Mix</em>
        <input class="posts_view_key" type="hidden" name="postsViewKey" value="2">
      <% } else if(currentUser.postsViewToggle && currentUser.postsViewToggle == 2){ %>
        <em>Topic posts only</em>
        <input class="posts_view_key" type="hidden" name="postsViewKey" value="1">
      <% } %>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  </div>
</form>