<% include ./partials/header %>
<style>
  @media screen and (min-width: 768px){
    #about_vision{width: 65%;}
  }
  @media screen and (max-width: 767px){
    #about_vision{width: 75%;}
  }
</style>

<br>
<div>
  <div class="nodisplay">
    <div class="helppad text-sm">
      Go to <strong><a href="/help">Help page</a></strong>
    </div>
    <br>
    <br>
    <br class="mobileNone">
    <br class="mobileNone">
  </div>
  <div class="helppad">
    <div class="mt-1 text-lg text-lato greencolor2 text-shadow-white">
      Why are we making this?
    </div>
    <div id="about_vision">
      <span>"To associate with other like-minded people in small, purposeful groups is for the great majority of men and women a source of profound psychological satisfaction. Exclusiveness will add to the pleasure of being several, but at one; and secrecy will intensify it almost to ecstasy."</span>
      <br>
      <span>- Aldous Huxley</span>
      <br>
      <br>
      <span class="text-sm boldtext lightgrey"><i class="far fa-hand-point-right"></i> </span>
      <span>We consistently found poor online presence of even the most basic of clubs that should be standard in every college.</span>
      <br>
      <span>Not very encouraging for participation.</span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="helppad">
    <div class="mt-1 text-lg text-lato">VISION</div>
    <div id="about_vision">
      <span class="text-sm boldtext lightgrey"><i class="far fa-hand-point-right"></i> </span>
      <span>College is not just another school. It is a new realm of possibilities.</span>
      <br>
      <br>
      <span>But when pages and groups are created with fervor & then lost after 2-3 years till a new batch comes & starts all over again. There is little growth, no continuance in overall culture.</span>
      <br>
      <span>Also, there is a feeling that there are 1000s of groups, pages & blogs floating at any time in college. Soon gets tiring to keep tabs on everything.</span>
      <br>
      <span>Moreover, students of different disciplines, interest areas in the same college live in their own silos. There is little exchange.</span>
      <br>
      <br>
      <br>
      <br>
      <span>With clubmate,</span>
      <br>
      <span>we want to create - Full online version of colleges with thriving communities.</span>
      <br>
      <span>One place to quickly access information flowing through your college.</span>
      <br>
      <span>UG students get to know research efforts being made in their institute & so do PG students who feel more connected.</span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="helppad text-lg text-lato">TEAM</div>
  <div class="helppad darkgrey">Want to help contribute to the project in any way?</div>
  <div class="helppad mb-4 darkgrey">Please contact Gaurav</div>
  <div class="row no-gutters">
    <div class="col-lg-6 col-12 d-flex flex-row py-4 justify-content-center">
      <div>
        <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/c_scale,q_90,w_512/v1640194471/team/DSC_2259.jpg">
      </div>
      <div class="d-flex flex-column" style="width: 165px;">
        <div class="boldtext ml-2"><a href="#">Ashutosh Guleria</a></div>
        <div class="ml-2">Founder & CEO</div>
      </div>
    </div>
    <div class="col-lg-6 col-12 py-4">
      <div class="d-flex flex-row justify-content-center">
        <div>
          <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/v1639209887/team/Chakshu_square.jpg">
        </div>
        <div class="d-flex flex-column" style="width: 165px;">
          <div class="boldtext ml-2"><a href="#">Gaurav Guleria</a></div>
          <div class="ml-2">Campus Operations</div>
          <div class="ml-2">IIT Mandi | S.A.I.C</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-6 col-12 d-flex flex-row py-4 justify-content-center">
      <div>
        <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/c_scale,w_512/v1640193513/team/Priyam.jpg">
      </div>
      <div class="d-flex flex-column" style="width: 165px;">
        <div class="boldtext ml-2"><a href="#">Priyam Seth</a></div>
        <div class="ml-2">Developer - Frontend</div>
        <div class="ml-2">IIT Mandi | GSoC'21</div>
        <div class="ml-2">@Zulip</div>
      </div>
    </div>
    <div class="col-lg-6 col-12 py-4">
      <div class="d-flex flex-row justify-content-center">
        <div>
          <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/c_scale,w_512/v1640193512/team/Pranshu.jpg">
        </div>
        <div class="d-flex flex-column" style="width: 165px;">
          <div class="boldtext ml-2"><a href="#">Pranshu Kharkwal</a></div>
          <div class="ml-2">Developer - Backend</div>
          <div class="ml-2">IIT Mandi | GSoC'21</div>
          <div class="ml-2">@ Linux Foundation</div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <div class="text-xs lightgrey mx-auto">pre ALPHA release | <a class="boldtext" href="/help">Help</a></div>
    <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2022</div>
  </div>
</div>

<% include ./partials/footer %>
<script src="/js/image-comp-slider.js"></script>
<script>
  initComparisons();
</script>