<% include ./partials/header %>
<style>
  @media screen and (min-width: 768px){
    #about_vision{width: 65%;}
  }
  @media screen and (max-width: 767px){
    #about_vision{width: 75%;}
  }
</style>

<br>
<div>
  <div class="nodisplay">
    <div class="helppad text-sm">
      Go to <strong><a href="/help">Help page</a></strong>
    </div>
    <br>
    <br>
    <br class="mobileNone">
    <br class="mobileNone">
  </div>
  <div class="helppad">
    <div class="mt-1 text-lg text-lato greencolor2 text-shadow-white">
      Our Vision
    </div>
    <div id="about_vision">
      <span class="text-sm boldtext lightgrey"><i class="far fa-hand-point-right"></i> </span>
      <span>College is not just school. It is a new realm of possibilities.</span>
      <br>
      <br>
      <span>But when pages and groups are created with fervour & then lost after 2-3 years till a new batch comes & starts all over again. There is little growth, no continuance in overall culture.</span>
      <br>
      <br>
      <span>Also there is a feeling that there are 1000s of groups & pages floating at any time in college but it is hard to pin-point where.</span>
      <br>
      <span>Everything seems scattered.</span>
      <br>
      <br>
      <span>Moreover students of different branches, higher & undergrad in same college live in their own silos. There is little interaction.</span>
      <br>
      <br>
      <br>
      <br>
      <span>With clubmate,</span>
      <br>
      <span>we want to create - Full online version of colleges with thriving communities.</span>
      <br>
      <span>One place to quickly access information flowing through your college.</span>
      <br>
      <span>UG students get to know research efforts being made in their institute & so do PG students who feel more connected.</span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="helppad text-lg text-lato">
    TEAM
  </div>
  <div class="helppad darkgrey">Want to help contribute to the project in any way?</div>
  <div class="helppad mb-4 darkgrey">Please contact Gaurav</div>
  <div class="row no-gutters">
    <div class="col-lg-6 col-12 d-flex flex-row py-4 justify-content-center">
      <div>
        <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/c_scale,q_90,w_512/v1629075079/team/DSC_2258.jpg">
      </div>
      <div class="d-flex flex-column" style="width: 150px;">
        <div class="boldtext ml-2"><a href="#">Ashutosh Guleria</a></div>
        <div class="ml-2">Founder & CEO</div>
        <div class="ml-2 d-flex flex-row">
          <div class="mr-3">
            <a href="https://twitter.com/guleriashutosh" target="_blank">
              <img class="img-faq" title="Twitter" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601559980/icons/twitter.png">
            </a>
          </div>
          <div class="mr-3">
            <a href="https://www.instagram.com/guleriaashutosh/" target="_blank">
              <img class="img-faq" title="Instagram" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601559980/icons/instagram.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 py-4">
      <div class="d-flex flex-row justify-content-center">
        <div>
          <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/c_scale,q_90,w_512/v1629075060/team/20201118_204200.jpg">
        </div>
        <div class="d-flex flex-column" style="width: 150px;">
          <div class="boldtext ml-2"><a href="#">Gaurav Guleria</a></div>
          <div class="ml-2">Campus Operations | IIT Mandi CSE 20</div>
        </div>
      </div>
      <div class="mt-4 d-flex flex-row justify-content-center">
        <div><img class="img-faq" title="Discord" src="https://res.cloudinary.com/dubirhea4/image/upload/v1629079391/icons/discord.png" style="filter: brightness(1.25);"></div>
        <div class="ml-2 text-sm mobilebold darkgrey">TinyTrebuchet#0384</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <!-- <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div> -->
    <div class="text-xs lightgrey mx-auto">pre ALPHA release | <a class="boldtext" href="/help">Help</a></div>
    <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2021</div>
  </div>
</div>

<% include ./partials/footer %>
<script src="/js/image-comp-slider.js"></script>
<script>
  initComparisons();
</script>