<% include ./partials/header %>

<br>
<div class="helppad">
  <div class="mt-1 text-lg text-lato greencolor2">
    What is clubmate?
  </div>
  <div>
    <span class="text-sm boldtext lightgrey"><i class="far fa-hand-point-right"></i> </span>
    <span class="pl-1">It is a platform for college students to organize club activities & reach out to other students with similar interests in their college.</span>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="mt-1 text-lg text-lato">
    UPCOMING FEATURES
  </div>
  <div class="pl-3 ml-2">
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li><span>Video support</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939451/icons/video.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Document support(*pdf, docx, ..)</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939450/icons/paper-clip.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Better Push notifications</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939450/icons/email.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Improved search filters</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1573734990/icons/research.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Anonymous subPost</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1578696948/icons/hacker.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>See who has heart(ed) this post</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939450/icons/love.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Flag inappropriate</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572946729/icons/flag.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>100,000 users 'Party'</span><span><img class="img-help" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601642249/icons/dance.gif" title="Designed by [photo3idea_studio] from @flaticon"></span></li>
    </ul>
  </div>
  <br>
  <div class="mt-1 text-lg text-lato">
    FAQs
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">People can't see my posts outside the club</span>
    </div>
    <ul class="pl-4 ml-1 mb-4" style="list-style-type: none; list-style-position: outside;">Posts shared (by default) have moderation set to Exclusive(1), ask your club moderators to Publish the post.</ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">Member Rank priveleges</span>
    </div>
    <ul class="ml-4 pl-2" style="list-style-type: disc; list-style-position: inside;">
      <li><span class="boldtext">Owner</span>: Transfer ownership, Delete club</li>
      <li><span class="boldtext">Administrator</span>: Invite new members, Set member ranks, Remove a member, Make an event update(with date), Set post visibility, Edit club avatar</li>
      <li><span class="boldtext">Moderator</span>: Publish simple posts, Make an update(without date), Edit Featured photos</li>
      <li><span class="boldtext">Senior Member</span>: Create a simple post</li>
      <li><span class="boldtext">Junior Member</span>: Start a new topic, Participate in exclusive content</li>
    </ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">What is Privacy/Moderation</span>
    </div>
    <ul class="ml-4 pl-2" style="list-style-type: disc; list-style-position: inside;">
      <li><span class="boldtext">Privacy</span>: Author of the posts select who they want to share it to. Discussions by design are 'level 2' private(Club Exclusive)</li>
      <li><span class="boldtext">Moderation</span>: By default moderation is set to 1(Club Exclusive), if a mod. decides he/she can then make it 0 (Public) OR -1 (Hide visibility)</li>
    </ul>
    <div class="ml-4"><span class="redcolor"><strong>*</strong></span>Only posts with privacy 0-1 AND moderation 0 are visible to outer public.</div>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">My club/user profile is not listed in College page</span>
    </div>
    <div class="col-12 col-md-6">
      <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1601644680/help/faq_keys.png' %>" title="Image for representational purposes only">
    </div>
    <ul class="pl-4 ml-1 mb-4" style="list-style-type: none; list-style-position: outside;">You need to enter the exact string in your User/Club Keys for the page you want to enlist in.</ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">Is my data safe</span>
    </div>
    <ul class="pl-4 ml-1 mb-4" style="list-style-type: none; list-style-position: outside;">With increasing concern of breaching/selling of private information. We are commited to keep transparency, mantain data security and respect individual's sole ownership to his/her data.</ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">Is there a mobile app</span>
    </div>
    <ul class="pl-4 ml-1 mb-4" style="list-style-type: none; list-style-position: outside;">While there is no native app as of yet, a hybrid app is in development. Meanwhile you can select "Add to Homescreen/Install clubmate LITE" from <i class="fas fa-ellipsis-v px-1"></i> dropdown near address bar.</ul>
  </div>
  <div class="mt-1 text-lg text-lato">
    KNOWN BUGS
  </div>
  <div class="pl-3 ml-2">
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li>Website provided emojis may perform slow in some mobile browsers.</li>
      <li>Scroll position of previous page is not preserved, when opening a post.</li>
    </ul>
  </div>
  <br>
  <div class="row px-5">
    <div class="col-lg-12 col-12 d-flex flex-row py-4 justify-content-center">
      <div>
        <img class="rounded-circle" style="height: 75px; width: 75px;" src="https://res.cloudinary.com/dubirhea4/image/upload/v1582820652/help/DSC_2258.jpg">
      </div>
      <div class="d-flex flex-column">
        <div class="boldtext ml-2"><a href="#">Ashutosh Guleria</a></div>
        <div class="ml-2">Founder & CEO</div>
        <div class="ml-2 d-flex justify-content-around">
          <div><a href="https://www.facebook.com/ashutosh1254" target="_blank"><img class="img-faq" title="Facebook" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601593576/icons/facebook.png"></a></div>
          <div><a href="https://twitter.com/guleriashutosh" target="_blank"><img class="img-faq" title="Twitter" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601559980/icons/twitter.png"></a></div>
          <div><a href="https://www.instagram.com/guleriaashutosh/" target="_blank"><img class="img-faq" title="Instagram" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601559980/icons/instagram.png"></a></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
    <div class="text-xs lightgrey mx-auto">BETA release | <a class="boldtext" href="/help">Know more</a></div>
    <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2021</div>
  </div>
</div>

<% include ./partials/footer %>