<% include ./partials/header %>

<br>
<div class="helppad">
  <div class="text-sm">
    Go to <strong><a href="/about">About page</a></strong>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-10 col-md-10">
      <div class="my-1 text-sm">
        <strong class="d-flex flex-row darkgrey"><div>Follow us on</div>
          <div class="mobileNone ml-1">social media</div>
        </strong>
      </div>
      <br>
      <br>
      <div class="d-flex justify-content-between form-signin helppad">
        <div><a href="" target="_blank"><img class="img-help" title="LinkedIn" src="https://res.cloudinary.com/dubirhea4/image/upload/v1614843717/icons/linkedin.png"></a></div>
        <div><a href="https://twitter.com/clubmateCOIN" target="_blank"><img class="img-help" title="Twitter" src="https://res.cloudinary.com/dubirhea4/image/upload/v1610306734/icons/twitter.png"></a></div>
        <div><a href="https://www.instagram.com/clubmate_coin/" target="_blank"><img class="img-help" title="Instagram" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601559980/icons/instagram.png"></a></div>
        <div><a href="" target="_blank"><img class="img-help" title="Whatsapp" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601559980/icons/whatsapp.png"></a></div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 px-2">
      <div class="list-group border-light mt-3">
        <li class="list-group-item bluecolor2 text-sm boldtext"><i class="fas fa-question-circle"></i> Did you..</li>
        <hr class="hr-light">
        <li class="list-group-item text-sm darkgrey">
          <a href="https://www.facebook.com/groups/2660887327313418/" target="_blank" class="lightgrey nounderline">
            <div>... have a <span class="boldtext">question</span>?</div>
          </a>
        </li>
        <hr class="hr-light">
        <li class="list-group-item text-sm darkgrey">
          <a href="https://www.facebook.com/groups/400084017547657/" target="_blank" class="lightgrey nounderline">
            <div>... find a <span class="boldtext">bug</span>?</div>
          </a>
        </li>
        <hr class="hr-light">
        <li class="list-group-item text-sm darkgrey">
          <a href="https://www.facebook.com/groups/1351554461692986/" target="_blank" class="lightgrey nounderline">
            <div>... have a feature <span class="boldtext">suggestion</span>?</div>
          </a>
        </li>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="helppad">
  <div class="mt-1 text-lg text-lato">
    FAQs
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">What are clubs</span>
    </div>
    <ul class="pl-4 ml-1 mb-4 darkgrey" style="list-style-type: none; list-style-position: outside;">
      <span>Student groups on any topic that can have a thriving community of like-minded people.</span>
      <br>
      <span>We think that certain clubs are a must for every college.</span>
      <br>
      <span>Such as:</span>
      <br>
      <span>Anonymous Confessions, Placements & Internships, Batch (this year), Trips & Travel, Projects (entrepreneurship & coursework), etc.</span>
      <br>
      <span>Sky is the limit 🌠</span>
    </ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">People can't see my posts outside the club</span>
    </div>
    <ul class="pl-4 ml-1 mb-4 darkgrey" style="list-style-type: none; list-style-position: outside;">
      <span>Posts shared (by default) have moderation set to Exclusive(1). Ask your Club Moderators to Publish the post.</span>
    </ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">What is Privacy/Moderation</span>
    </div>
    <ul class="ml-4 pl-2 darkgrey" style="list-style-type: disc; list-style-position: inside;">
      <li><span class="boldtext">Privacy</span>: Author of the posts select which level they want to share it to.<br>"Topic posts" by design can't be set to 'level 0' (Outside College).</li>
      <li><span class="boldtext">Moderation</span>: By default moderation is set to 1(Exclusive).<br>If <em>only</em> a mod. decides, he/she can then make it 0 (Publish) OR -1 (Hide visibility)</li>
    </ul>
    <div class="ml-4"><span class="redcolor"><strong>*</strong></span>Only posts without Question topic & with privacy 0, 1, 2 AND moderation 0 are visible to outer public.</div>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">Member Rank priveleges</span>
    </div>
    <ul class="ml-4 pl-2 darkgrey" style="list-style-type: disc; list-style-position: inside;">
      <li><span class="boldtext">President</span>: Transfer ownership, Extend membership, <span class="redcolor ml-0"><strong>**</strong></span>Publish posts, Delete club</li>
      <li><span class="boldtext">Administrator</span>: Invite new members, Set member ranks, Remove a member, Push story update(with event date), Set post visibility, Edit club avatar, Send DMs to Alumni</li>
      <li><span class="boldtext">Moderator</span>: <span class="redcolor"><strong>**</strong></span>Publish posts, Push story(without event date), Edit Featured photos</li>
      <li><span class="boldtext">Senior Member</span>: Start a new Audio Room</li>
      <li><span class="boldtext">Junior Member</span>: Create a post</li>
      <li><span class="boldtext" style="text-decoration: line-through;">Alumni</span>: Create a post (without Question topic), Participate in exclusive content</li>
    </ul>
    <div class="ml-4 redcolor"><span><strong>**</strong>Admins cannot publish a post</span></div>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">Is my data safe</span>
    </div>
    <ul class="pl-4 ml-1 mb-4 darkgrey" style="list-style-type: none; list-style-position: outside;">
      <span>With increasing concern of breaching/selling of private information. We are commited to keep transparency, mantain data security and respect individual's sole ownership to his/her data.</span>
      <br>
      <span>Right now we do not track any user behaviour metrics. We only use cookies for the purpose of maintaining login sessions.</span>
    </ul>
  </div>
  <div class="mb-4">
    <div>
      <span class="text-sm boldtext lightgrey ml-2"><i class="fas fa-question"></i> </span>
      <span class="pl-1 boldtext underline">Is there a mobile app</span>
    </div>
    <ul class="pl-4 ml-1 mb-4 darkgrey" style="list-style-type: none; list-style-position: outside;">There is not a native app as of yet. Meanwhile you can select "Install clubmate LITE" from <i class="fas fa-ellipsis-v px-1"></i> dropdown near address bar of your browser.</ul>
  </div>
  <div class="mt-1 text-lg text-lato">
    UPCOMING FEATURES
  </div>
  <div class="pl-3 ml-2">
    <ul class="darkgrey" style="list-style-type: disc; list-style-position: inside;">
      <li><span>Video support</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939451/icons/video.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Document support(*pdf, docx, ..)</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939450/icons/paper-clip.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Better Push notifications</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939450/icons/email.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Improved search filters</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1573734990/icons/research.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Form for submitting Anonymous posts</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1578696948/icons/hacker.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>See who has heart(ed) this post</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572939450/icons/love.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>Flag inappropriate</span><span><img class="img-faq" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572946729/icons/flag.png" title="Designed by [Freepik] from @flaticon"></span></li>
      <li><span>1000 users 'Party'</span><span><img class="img-help" src="https://res.cloudinary.com/dubirhea4/image/upload/v1601642249/icons/dance.gif" title="Designed by [photo3idea_studio] from @flaticon"></span></li>
    </ul>
  </div>
  <br>
  <div class="mt-1 text-lg text-lato">
    KNOWN ISSUES
  </div>
  <div class="pl-3 ml-2">
    <ul class="darkgrey" style="list-style-type: disc; list-style-position: inside;">
      <li>Scroll position of previous page is not preserved, when opening a post.</li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <div class="text-xs lightgrey mx-auto">pre ALPHA release | <a class="boldtext" href="/about">About</a></div>
    <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2022</div>
  </div>
</div>

<% include ./partials/footer %>