<% include ./partials/header %>

<div class="row no-gutters justify-content-center">  
  <div class="col-10 col-md-4 mt-5">
    <div class="d-flex">
      <div class="mx-auto">
		    <h3>Welcome to GhosTwn!</h3>
      </div>
    </div>
    <br>
    <h6 class="text-center">GhosTwn lets you find and join clubs around similar interests in and across your college.</h6>
    <br>
    <h6>You can use GhosTwn to:</h6>
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li>Search group of interests at your school</li>
      <li>Share public & exclusive content</li>
      <li>Find out what your friends do</li>
      <li>Pursue your hobbies</li>
    </ul>
    <span><em>You need a valid email id to continue</em></span>
    <br>
    <br>
    <div class="d-flex">
      <div class="mx-auto">
    	  <a href="/login" class="btn btn-sm btn-primary">login</a>
        <a href="/register" class="btn btn-sm btn-primary">signup</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="d-flex flex-column">
      <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
      <div class="text-xs grey mx-auto">BETA release</div>
    </div>
  </div>
</div>

<% include ./partials/footer %>