<% include ./partials/header %>

<div class="d-flex">
  <div class="mx-auto mt-5 mb-4">
    <h3 class="text-center d-flex" style="font-family: 'Lato', sans-serif;">Welcome to <span class="text-xxs pt-1 pl-2">PRJ<img src="/images/icons/app-icon-96x96.png" style="width: 20px; height: 20px;"></span>clubmate</h3>
  </div>
</div>
<div class="row no-gutters justify-content-center">
  <div class="col-10 col-md-4">
    <h6 class="text-center">clubmate lets you find and join groups around similar interests in and across your college.</h6>
    <br>
    <h6>You can use clubmate to:</h6>
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li>See all listed clubs in your school</li>
      <li>Search for people in your classes</li>
      <li>Find out what they like to do</li>
      <li>Share public & exclusive content</li>
      <li>Discuss topics/events, ask questions</li>
      <li>Pursue your hobbies</li>
    </ul>
    <span><em>You need a valid email id to continue</em></span>
    <br>
    <br>
    <div class="d-flex">
      <div class="mx-auto">
        <a href="/login" class="btn btn-sm btn-primary">login</a>
        <a href="/register" class="btn btn-sm btn-primary">signup</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="d-flex flex-column">
      <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
      <div class="text-xs lightgrey mx-auto pl-4">
        <span>BETA release | <a class="boldtext" href="/help">Know more</a> | <a class="boldtext" href="/faq">FAQ</a></span>
        <span><img style="width: 25px; height: 25px;" title="Designed by [Freepik] from @flaticon" src="https://res.cloudinary.com/dubirhea4/image/upload/v1573725971/icons/reply.png"></span>
      </div>
      <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2019</div>
    </div>
  </div>
</div>

<% include ./partials/footer %>