<% include ./partials/header %>

<div class="d-flex">
  <div class="mx-auto mt-5 mb-4">
    <h3 class="text-center d-flex text-lato">Welcome to <span class="text-xxs pt-1 pl-2">PRJ<img src="/images/icons/app-icon-96x96.png" style="width: 20px; height: 20px;"></span>clubmate</h3>
  </div>
</div>
<div class="row no-gutters justify-content-center">
  <div class="col-10 col-md-4">
    <h6 class="text-center mb-5">clubmate lets you find and join people around similar interests in your college.</h6>
    <br>
    <h6>You can use clubmate to:</h6>
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li>See all listed clubs in your school</li>
      <li>Explore fun new niches</li>
      <li>Find out what your friends do</li>
      <li>Share experiences</li>
      <li>Discuss topics / Ask questions</li>
      <li>Pursue hobbies, together :)</li>
    </ul>
    <br>
    <div class="d-flex">
      <div class="mx-auto">
        <button class="gb gb4 gb-bordered hover-fill gb-rounded px-0 mx-2"><a href="/login" class="nounderline text-lg gb-bordered">login</a></button>
        <button class="gb gb4 gb-bordered hover-fill gb-rounded px-0 mx-2"><a href="/register" class="nounderline text-lg gb-bordered">signup</a></button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="d-flex flex-column">
      <div class="text-xs lightgrey mx-auto pl-4">
        <span>BETA release | <a class="boldtext" href="/help">Know more</a> | <a class="boldtext" href="/faq">FAQ</a></span>
        <span><img style="width: 25px; height: 25px;" title="Designed by [Freepik] from @flaticon" src="https://res.cloudinary.com/dubirhea4/image/upload/v1573725971/icons/reply.png"></span>
      </div>
      <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2021</div>
    </div>
  </div>
</div>

<% include ./partials/footer %>