<% include ./partials/header %>

<div class="d-flex">
  <div class="mx-auto mt-5 mb-4">
    <h3 class="text-center">[Welcome to <sup class="text-xxs">project</sup>clubmate]</h3>
  </div>
</div>
<div class="row no-gutters justify-content-center">
  <div class="col-10 col-md-4">
    <h6 class="text-center">clubmate lets you find and join clubs around similar interests in and across your college.</h6>
    <br>
    <h6>You can use clubmate to:</h6>
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li>Search group of interests at your school</li>
      <li>Share public & exclusive content</li>
      <li>Find out what your friends do</li>
      <li>Discuss interesting events and topics</li>
      <li>Pursue your hobbies</li>
    </ul>
    <span><em>You need a valid email id to continue</em></span>
    <br>
    <br>
    <div class="d-flex">
      <div class="mx-auto">
        <a href="/login" class="btn btn-sm btn-success">login</a>
        <a href="/register" class="btn btn-sm btn-success">signup</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="d-flex flex-column">
      <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
      <div class="text-xs lightgrey mx-auto">BETA release</div>
    </div>
  </div>
</div>

<% include ./partials/footer %>