<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="google-site-verification" content="OTHxbxMTA7F3GJc5r8h4BPmnWbZn54mbm97wyq-mTTQ" />
    <title>clubmate | The Front Page of your College</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Mobile/PWA support -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/images/icons/favicon-16x16.ico">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/icons/favicon-32x32.ico">
    <link rel="icon" type="image/x-icon" sizes="64x64" href="/images/icons/favicon-96x96.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/app-icon-192x192.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#252525">
    <meta name="apple-mobile-web-app-title" content="clubmate">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-navbutton-color" content="#252525">
    <meta name="msapplication-TileColor" content="#252525">
    <meta name="msapplication-TileImage" content="/images/icons/app-icon-144x144.png">
    <meta name="theme-color" content="#252525">
  </head>
  <body>
    <!-- Load progress bar -->
    <div class="nanobar meter animate" id="bar-id" style="position: fixed;">
      <div class="bar"></div>
    </div>


    <style>
      nav.navbar{
        box-shadow: none;
        background-color: white !important;
        padding: 0.5rem 1.5rem !important;
      }
      body{
        background-color: white;
        color: #212121;
      }
      #landing-hero{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
      }
      h4{
        font-size: 3rem;
        line-height: 1.35;
        font-weight: 700;
      }
      .illustrations{
        filter: grayscale(1) brightness(0.9) contrast(1.1);
        width: 50%;
      }
      #landing-bottom{
        position: absolute;
        top: 90vh;
        width: 100%;
      }
      .eggshell{
        color: #111;
        /* background-color: #f9f5f1; */
        background-attachment: fixed;
        background-size: contain;
        background-color: #ebface;
        /* background-color: #ffffe6; */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23D2F2C5' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
        /* background by SVGBackgrounds.com */
      }
      #clubmate_uses{
        width: 100%;
        max-width: 35vw;
        padding: 0.625rem;
        margin: 0 auto;
        margin-top: 5rem;
      }
      .screen-container{
        height: 6rem;
      }
      .screen-number{
        font-size: 6rem;
        font-weight: 700;
        line-height: 5rem;
      }
      .screen-heading{
        font-size: 1.75rem;
        font-weight: 600;
      }
      .screen-description{
        line-height: 1.125rem;
        margin-top: 0.25rem;
      }
      .screen-illustrations{
        width: 7rem;
      }
      .screenshots{
        z-index: 2;
        box-shadow: 0 2px 8px rgb(84, 70, 35, 0.15), 0 1px 3px rgb(84, 70, 35, 0.15);
      }
      .half_height{
        height: 50%;
        max-width: 25vw;
      }
      #drop-info{
        text-align: left;
        box-shadow: none !important;
        border-image: none !important;
      }
      #knowmore_arrow{
        animation: pulse 1s linear infinite;
      }
      @-webkit-keyframes "pulse" {
        0% {
          transform: scale(1.2);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
      @media screen and (min-width: 768px){
        #landing-hero{padding-left: 2rem;}
        .screenshots-mobileview{box-shadow: none !important; width: 10rem !important;
          position: relative; left: 0; top: -18rem;}
        .screenshots-mobileview-container{height: 2rem !important; float: right;}
        .screenshots-container-mobile{padding: 0 0.375rem;}
      }
      @media screen and (max-width: 767px){
        nav.navbar{padding: 0.5rem 1rem !important;}
        #clubmate-logo{height: 30px;}
        #landing-hero{text-align: center;}
        h4{font-size: 2.125rem; line-height: 2.5rem;}
        .illustrations{width: 65% !important;}
        #clubmate_uses{max-width: 90vw !important;}
        .screen-number{font-size: 1.875rem !important; margin-left: 1rem; line-height: 2.675rem !important;}
        .screen-heading{margin-left: 0.5rem !important;}
        .screen-description{margin-left: -1.4375rem !important; margin-top: 0 !important;}
        .illustrations.screen-illustrations{max-width: 50vw !important; float: right; margin-right: 1rem;}
        .illustrations1and2{padding-bottom: 1.5rem;}
        .screenshots{margin-left: 3.5rem;}
        .screenshots-container-mobile{padding: 0 1.25rem !important; width: 100vw;
          height: 20rem; overflow-x: scroll; overflow-y: hidden; scrollbar-width: none;}
          .screenshots-container-mobile::-webkit-scrollbar{display: none;}
        .screen-container{margin-top: 0 !important;}
        .screenshots-mobileview{width: 30vw !important; position: relative; left: 0; top: -12rem;}
        .screenshots-mobileview-container{height: 0 !important; margin-left: -0.25rem;}
        .half_height{max-width: unset !important;}
      }
      @media screen and (max-width: 481px){
        #welcome_to_clubmate{margin-left: 1.375rem !important;}
        .screenshots-mobileview{top: -12rem;}
      }
      @media screen and (max-width: 415px){
        #welcome_to_clubmate{margin-left: 2.125rem !important;}
        .screenshots-mobileview{top: -11.5rem;}
      }
      @media screen and (max-width: 394px){
        #welcome_to_clubmate{margin-left: 1.675rem !important;}
        .screenshots-mobileview{top: -11rem;}
      }
      @media screen and (max-width: 385px){
        #welcome_to_clubmate{margin-left: 1.375rem !important;}
        .screen-container{margin-top: -2rem !important;}
        .screenshots-mobileview{top: -10.5rem;}
      }
      @media screen and (max-width: 376px){
        #welcome_to_clubmate{margin-left: 1.125rem !important;}
      }
      @media screen and (max-width: 361px){
        #welcome_to_clubmate{margin-left: 0.875rem !important;}
        .screen-container{margin-top: -4rem !important;}
        .screenshots-mobileview{top: -10rem;}
      }
    </style>

  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand p-0 d-flex flex-row">
      <div class="my-auto">
        <img id="clubmate-logo" src="https://res.cloudinary.com/dubirhea4/image/upload/v1596706954/icons/app-icon-144x144.png" height="30" class="d-inline-block align-center" alt="clubamte">
      </div>
      <div>
        <span class="text-lato navname transparent darkgrey">clubmate</span>
      </div>
    </div>
  </nav>
    <div id="landing-hero" class="row no-gutters justify-content-center">
      <div class="col-10 col-lg-4 col-md-5 mb-5">
        <img class="illustrations" src="https://res.cloudinary.com/dubirhea4/image/upload/v1628847405/illustrations/Browsing.svg">
        <div id="welcome_to_clubmate" class="text-left mt-4 mobiletext2">Welcome to clubmate</div>
        <h4>The Front Page of Your College</h4>
      </div>
      <div class="col-10 col-lg-4 col-md-5 my-auto">
        <div class="d-flex">
          <div class="mx-auto">
            <a href="/login"><button class="btn btn-light btn-round mx-2"><span class="nounderline text-lg">login</span></button></a>
            <a href="/register"><button class="btn btn-light btn-round mx-2">
              <span class="nounderline text-lg desktopNone">sign up</span>
              <span class="nounderline text-lg mobileNone">sign me up</span>
            </button></a>
          </div>
        </div>
      </div>
    </div>
    <div id="landing-bottom">
      <div class="eggshell">
        <div class="text-center mb-3" style="height: 10vh; line-height: 10vh;">How it works</div>
        <div class="text-center px-2">clubmate is one-stop solution for all your college communications</div>
        <div id="clubmate_uses" class="pb-4 mb-5">
          <h6>You can use clubmate to:</h6>
          <ul class="darkgrey" style="list-style-type: disc; list-style-position: inside;">
            <li>See the list of 100s of clubs in your college</li>
            <li>Become a member of some, loosely follow others</li>
            <li>Discover all the cool stuff happening in your college RN</li>
            <li>Find what your friends are upto ;)</li>
            <li>Ask questions / Discuss topics / Seek advice</li>
            <li>If club member, participate in exclusive content. Talk in its many Chat #ROOMS</li>
            <li>Push club updates. Maintain an archive of events & resources to leave a legacy.</li>
          </ul>
        </div>
      </div>
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-8 col-md-10">
          <div class="d-flex flex-column mt-5 pt-5 illustrations1and2">
            <div class="screen-container mt-5 valign">
              <div class="screen-info-mobile d-flex flex-row">
                <div class="screen-number d-inline-flex"><span>1</span><span class="desktopNone notbold ml-0">.</span></div>
                <div class="flex-column">
                  <div class="screen-heading half_height ml-4">The List</div>
                  <div class="screen-description mobiletext3 half_height lightgrey ml-4" style="max-width: 20vw;">
                    <span>Your college page. Find all kinds of clubs / info here.</span>
                  </div>
                </div>
              </div>
              <div>
                <img class="illustrations screen-illustrations" src="https://res.cloudinary.com/dubirhea4/image/upload/v1628847405/illustrations/Collaboration.svg">
              </div>
            </div>
            <div class="screenshots-container-mobile">
              <div><img class="cover screenshots mt-3 rounded" src="https://res.cloudinary.com/dubirhea4/image/upload/v1631590746/illustrations/collegepage_desktop.png"></div>
              <div class="screenshots-mobileview-container"><img class="cover screenshots-mobileview" src="https://res.cloudinary.com/dubirhea4/image/upload/v1631661014/illustrations/collegepage_mobile_framed.png"></div>
            </div>
          </div>
          <div class="d-flex flex-column mt-5 pt-5 illustrations1and2">
            <div class="screen-container mt-5 valign">
              <div class="screen-info-mobile d-flex flex-row">
                <div class="screen-number d-inline-flex"><span>2</span><span class="desktopNone notbold ml-0">.</span></div>
                <div class="flex-column">
                  <div class="screen-heading half_height ml-4">Discover feed</div>
                  <div class="screen-description mobiletext3 half_height lightgrey ml-4">
                    <span>The front page. See what's happening in college right now.</span>
                  </div>
                </div>
              </div>
              <div>
                <img class="illustrations screen-illustrations" src="https://res.cloudinary.com/dubirhea4/image/upload/v1628847405/illustrations/Mobile_feed.svg">
              </div>
            </div>
            <div class="screenshots-container-mobile">
              <div><img class="cover screenshots mt-3 rounded" src="https://res.cloudinary.com/dubirhea4/image/upload/v1631590747/illustrations/discover_desktop.png"></div>
              <div class="screenshots-mobileview-container"><img class="cover screenshots-mobileview" src="https://res.cloudinary.com/dubirhea4/image/upload/v1631714055/illustrations/discover_mobile_framed.png"></div>
            </div>
          </div>
          <div class="d-flex flex-column mt-5 pt-5">
            <div class="screen-container mt-5 valign">
              <div class="screen-info-mobile d-flex flex-row">
                <div class="screen-number d-inline-flex"><span>3</span><span class="desktopNone notbold ml-0">.</span></div>
                <div class="flex-column">
                  <div class="screen-heading half_height ml-4">Chat #rooms</div>
                  <div class="screen-description mobiletext3 half_height lightgrey ml-4">
                    <span>Simpler than Discord. More powerful than Whatsapp.</span>
                  </div>
                </div>
              </div>
              <div>
                <img class="illustrations screen-illustrations" src="https://res.cloudinary.com/dubirhea4/image/upload/v1628847407/illustrations/Group_chat.svg">
              </div>
            </div>
            <div class="screenshots-container-mobile">
              <div><img class="cover screenshots mt-3 rounded" src="https://res.cloudinary.com/dubirhea4/image/upload/v1631590745/illustrations/chats_desktop.png"></div>
              <div class="screenshots-mobileview-container"><img class="cover screenshots-mobileview" src="https://res.cloudinary.com/dubirhea4/image/upload/v1631661010/illustrations/chats_mobile_framed.png"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="d-flex flex-column mb-2">
        <div class="lightgrey mx-auto">
          <span><img style="width: 32px; height: 32px;" title="Designed by [Freepik] from @flaticon" src="https://res.cloudinary.com/dubirhea4/image/upload/v1640189701/icons/newspaper.png"></span>
          <span>also Coming Soon..</span>
        </div>
        <div class="text-lg mx-auto">Clubmate weekly newspaper</div>
        <div id="clubmate_uses" class="pb-4 mb-5 mt-3">
          <div class="card border-light btncollapse-div">
            <button id="drop-info" type="button" class="btn btn-sm boldtext btncollapse btncollapse-info valign" data-toggle="collapse" data-target="#comingsoon">
              <div class="pl-2">Pages will include:</div>
              <div class="pr-2"><i class="fas fa-angle-up flipped-verticaly mr-2"></i></div>
            </button>
            <div id="comingsoon" class="collapse btncollapse-content px-2">
              <ul class="darkgrey py-2" style="list-style-type: disc; list-style-position: inside;">
                <li>Faculty, Alumni & Student articles</li>
                <li>Inter-IIT (college) current affairs</li>
                <li>Research projects being undertaken in your college</li>
                <li>Market trends & opportunities in every branch</li>
                <li>Exhibition for companies in the placement season</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column mb-2">
        <div class="text-sm lightgrey mx-auto pl-4">
          <span>pre ALPHA release | <a class="boldtext" href="/about">Know more</a></span>
          <span><img id="knowmore_arrow" style="width: 25px; height: 25px;" title="Designed by [Freepik] from @flaticon" src="https://res.cloudinary.com/dubirhea4/image/upload/v1573725971/icons/reply.png"></span>
        </div>
        <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2022</div>
      </div>
    </div>

<% include ./partials/footer %>