<% include ./partials/header %>

<div class="row no-gutters absolute-center">
	<div class="col-md-12">
		<form class="form-signin" action="/resend_verification" method="POST">
			<legend class="mb-5">Resend token</legend>
			<div class="form-group">
				<label for="email">Enter your email adress and we will resend you an account verification token</label>
				<input type="email" id="email" name="email" class="form-control" required autofocus placeholder="Email">
			</div>
			<div class="form-group">
				<button class="btn btn-md btn-success btn-rounded btn-block btn-shadow" type="submit" onclick="loading_spinner('load-reverify','email');"><span id="load-reverify"></span>Send</button>
			</div>
			<a href="/register">Back</a>
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		</form>
	</div>
</div>

<% include ./partials/footer %>