<% include ./partials/header %>

<div class="row no-gutters absolute-center">
  <div class="col-md-12">
    <form class="form-signin" action="/register" method="POST">
      <h4 class="my-3">Register new account</h4>
      <div class="valign">
        <div class="mr-1">
          <label for="inputFirstName" class="sr-only">First Name</label>
          <input type="text" id="inputFirstName" class="form-control mb-0" name="firstName" placeholder="first name" required autofocus>
        </div>
        <div class="ml-1">
          <label for="inputLastName" class="sr-only">Last Name</label>
          <input type="text" id="inputLastName" class="form-control mb-0" name="lastName" placeholder="last name">
        </div>
      </div>
      <div class="position-relative">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="email address" required>
        <i class="fas fa-at"></i>
      </div>
      <div class="position-relative">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="password" required>
        <i class="fas fa-key"></i>
      </div>
      <div id="pass_show" style="display: none;"><input type="checkbox" onclick="showpw();"><span class="text-sm lightgrey mx-1">Show Password</span></div>
      <div id="pass_info" class="text-xs darkgrey" style="display: none;">
        <span class="redcolor"><strong>*</strong></span>
        <span>Password must contain (6-18) characters, at least one letter and one number</span>
      </div>
      <br>
      <div class="form-check-inline radio">
        <input id="radio-1" name="userKeys[sex]" type="radio" value="Male" required>
        <label for="radio-1" class="radio-label">Male</label>
      </div>
      <div class="form-check-inline radio">
        <input id="radio-2" name="userKeys[sex]" type="radio" value="Female">
        <label  for="radio-2" class="radio-label">Female</label>
      </div>
      <button class="btn btn-lg btn-success btn-round btn-block btnshadow mt-5" type="submit">Sign up!</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form> 
    <div class="form-signin">
      <a class="lightgrey" href="/resend_verification">Resend verification token?</a>
      <br>
      <a href="/discover">Discover</a>
    </div>
  </div>
</div>

<% include ./partials/footer %>
