<% include ./partials/header %>

<div class="row no-gutters">
  <div class="col-md-12">
    <form class="form-signin" action="/register" method="POST">
      <h3 class="my-3">Sign Up</h3>
      <div class="valign">
        <div class="mr-1">
          <label for="inputFirstName" class="sr-only">First Name</label>
          <input type="text" id="inputFirstName" class="form-control mb-0" name="firstName" placeholder="first name" required autofocus>
        </div>
        <div class="ml-1">
          <label for="inputLastName" class="sr-only">Last Name</label>
          <input type="text" id="inputLastName" class="form-control mb-0" name="lastName" placeholder="last name">
        </div>
      </div>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" name="email" placeholder="simon@riley.com" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="password" required>
      <div id="pass_show" style="display: none;"><input type="checkbox" onclick="showpw();"><span class="text-sm lightgrey mx-1">Show Password</span></div>
      <div id="pass_info" class="text-xs darkgrey" style="display: none;">
        <span class="redcolor"><strong>*</strong></span>
        <span>Password must contain (6-18) characters, at least one letter and one number</span>
      </div>
      <br>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="userKeys[sex]" value="Male" required>Male
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="userKeys[sex]" value="Female">Female
        </label>
      </div>
      <div class="input-group mt-1 date" id="datetimepicker4" data-target-input="nearest">
        <input name="userKeys[birthdate]" type="text" class="form-control datetimepicker-input commentbox5 text-sm mobiletext3" data-target="#datetimepicker4" placeholder="birth date" required>
        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
        </div>
      </div>
      <button class="btn btn-lg btn-success btn-block mt-5" type="submit">Sign up!</button>
    </form> 
    <div class="form-signin">
      <a class="lightgrey" href="/resend_verification">Resend verification token?</a>
      <br>
      <a href="/discover">Home</a>
    </div>
  </div>
</div>

<% include ./partials/footer %>
