<% include ./partials/header %>

<div class="row no-gutters">
	<div class="col-md-12">
<div class="row">
	<div class="col-md-12 no-gutters">
		<form class="form-signin" action="/reset/<%= token %>" method="POST">
	  	<legend class="mb-5">Reset password</legend>
	  	<br>
	    <label for="inputPassword" class="sr-only">New Password</label>
	    <input id="inputPassword" type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control">
	    <div id="pass_info" class="text-xs darkgrey nodisplay">
        <span class="redcolor"><strong>*</strong></span>
        <span>Password must contain (6-10) characters, at least one letter and one number</span>
      </div>
      <br>
	    <label for="confirm" class="sr-only">Confirm Password</label>
	    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control">
	    <br>
	    <button class="btn btn-md btn-success btn-block" type="submit">Update</button>
		</form>
	</div>
</div>

<% include ./partials/footer %>