<% include ./partials/header %>

<div class="row no-gutters absolute-center">
	<div class="col-md-12">
		<form class="form-signin" action="/reset/<%= token %>" method="POST">
	  	<legend class="mb-5">Reset password</legend>
	    <label for="inputPassword" class="sr-only">New Password</label>
	    <input id="inputPassword" type="password" name="password" value="" placeholder="New password" required autofocus="autofocus" class="form-control">
	    <div id="pass_info" class="text-xs darkgrey" style="display: none;">
        <span class="redcolor"><strong>*</strong></span>
        <span>Password must contain (6-18) characters, at least one letter and one number</span>
      </div>
	    <label for="confirm" class="sr-only">Confirm Password</label>
	    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control">
	    <br>
	    <button class="btn btn-md btn-success btn-round btn-block btnshadow" type="submit" onclick="loading_spinner('load-reset','inputPassword');"><span id="load-reset"></span>Update</button>
	    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
		</form>
	</div>
</div>

<% include ./partials/footer %>