<html>
  <head>
    <title>Resume</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@1,700&family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <style type="text/css">
    	.container {
			  height: 1754px;
			  width: 1240px;
			  background-image: linear-gradient(white 80%, #eaecf0 100%);
			}
			.edit-item-form {
				display: none;
			}
			.anton{
				font-family: 'Fjalla One', sans-serif;
			}
			.raleway{
				font-family: 'Raleway', sans-serif;
			}
			.lato{
				font-family: 'Lato', sans-serif;
			}
			.icon-circle{
				display: inline-block;
			  border-radius: 60px;
			  padding: 0.5em 0.6em;
			  background-color: #e32f94;
			  color: white;
			  font-size: 28px !important;
			}
			.icon-circle2{
				display: inline-block;
			  border-radius: 60px;
			  padding: 0.5em 0.55em;
			  background-color: #e32f94;
			  color: white;
			  font-size: 28px !important;
			}
			.valign{
			  display: flex;
			  justify-content: space-between;
			  align-items: center;
			}
			.fas.fa-square{
				color: #e32f94;
			}
			.far.fa-square{
				color: grey;
			}
			.text-light1{
				color: grey;
			}
			.text-light2{
				color: silver;
			}
			.text-xxxxs{font-size: 1.4375rem !important;}
			.text-xxxs{font-size: 1.5625rem !important;}
			.text-xxs{font-size: 1.6875rem !important;}
			.text-xs{font-size: 1.75rem !important;}
			.text-sm{font-size: 1.875rem !important;}
			.text-md{font-size: 1.9375rem !important;}
			.text-index{font-size: 2rem !important;}
			.text-lg{font-size: 2.125rem !important;}
			.text-xl{font-size: 2.25rem !important;}
			.text-xxl{font-size: 2.375rem !important;}
			.text-xxxl{font-size: 2.625rem !important;}
			.text-xxxxl{font-size: 3rem !important;}
			.text-5xl{font-size: 3.25rem !important;}
    </style>
  </head>
  <body>
	  <div class="container">
			<div class="jumbotron" style="padding: 36px 60px;">
				<div class="valign">
					<div class="d-flex flex-column" style="width: 65%;">
						<div>
							<img src="https://res.cloudinary.com/dubirhea4/image/upload/v1598600526/team/DSC_0035.jpg" style="width: 114px; height: 114px; border-radius: 2.5rem;">
						</div>
						<div>
				    	<span class="anton" style="font-size: 63px; padding-right: 1rem;">ASHUTOSH GULERIA</span>
				    	<span><strong class="text-xxxl text-light2 raleway">- DEVELOPER</strong></span>
				    </div>
			    </div>
			    <div style="width: 35%; text-align: right;">
				    <p class="text-xxl" style="padding-bottom: 1.5rem;">Ghaziabad(NCR), U.P<i class="fas fa-home" style="color: #e32f94; padding-left: 1rem;"></i></p>
				    <p class="text-xxl">9560688251<i class="fas fa-phone-alt" style="color: #e32f94; padding-left: 1rem;"></i></p>
				    <p class="text-xxl">ashutoshguleria9@gmail.com<i class="fas fa-envelope" style="color: #e32f94; padding-left: 1rem;"></i></p>
				    <p class="text-xxl">github.com/ghost1254<i class="fab fa-github text-xxxl" style="color: #e32f94; padding-left: 1rem;"></i></p>
				  </div>
			  </div>
		  </div>
			<div style="margin: 0 7rem;">

				<div class="text-5xl"><i class="fas fa-bars icon-circle"></i><strong style="margin-left: 3rem;">IN A NUTSHELL</strong></div>
				<div style="padding: 0 9rem;">
					<span class="text-xxl">
						Fast Learner | Pro at UX, web development, and making things clean & beautiful.
					</span>
					<br>
					<br>
					<div class="raleway text-xxl" style="color: #e32f94; font-weight: 700;">
						What do i bring to the table?
					</div>
					<span class="text-xxl">
						I've got 2+ years of diverse coding experience ready to be put to use. My background in SaaS development involving: 
						complete project design, planning & execution from front to back allows me to fuse the art, technology and management world together in perfect harmony making me a valuable asset for any team.
					</span>
					<br>
					<br>
					<div class="raleway text-xxl" style="color: #e32f94; font-weight: 700;">
						I don't want...
					</div>
					<span class="text-xxl">
						...Just another job. I want to solve problems and make people's lives easier in a community that shares my passion for technology.
					</span>
					<br>
					<br>
					<div class="raleway text-xxl" style="color: #e32f94; font-weight: 700;">
						Skills & Competencies (Tech Stack ~ MERN):
					</div>
					<span class="text-xxl">
						<div class="valign">
							<div>(HTML/CSS, Bootstrap)</div>
							<div>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
							</div>
						</div>
						<div class="valign">
							<div>(Express, Mongoose, Javascript, JQuery + EJS)</div>
							<div>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="far fa-square"></i>
							</div>
						</div>
						<div class="valign">
							<div>(React, Redux, Socket io, Image transformations, Emails & Sessions)</div>
							<div>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="far fa-square"></i>
								<i class="far fa-square"></i>
							</div>
						</div>
						<div class="valign">
							<div>(Nginx, PWAs, SSL, DNS, Hosting, shell scripting, GitHub)</div>
							<div>
								<i class="fas fa-square"></i>
								<i class="fas fa-square"></i>
								<i class="far fa-square"></i>
								<i class="far fa-square"></i>
								<i class="far fa-square"></i>
							</div>
						</div>
						<div class="valign">
						<div>(Photoshop, Geoindexing, ES6, MySQL, Payment APIs)</div>
							<div>
								<i class="fas fa-square"></i>
								<i class="far fa-square"></i>
								<i class="far fa-square"></i>
								<i class="far fa-square"></i>
								<i class="far fa-square"></i>
							</div>
						</div>
					</span>
				</div>
				<br>
				<div class="text-5xl"><i class="fas fa-briefcase icon-circle2"></i>
					<strong style="margin-left: 3rem;">EXPERIENCE</strong>
				</div>
				<div style="padding: 0 9rem;">
					<div class="raleway text-xxxl" style="color: #e32f94; font-weight: 700;">
						Entrepreneur & Full Stack Developer | <img src="https://res.cloudinary.com/dubirhea4/image/upload/v1596706954/icons/app-icon-96x96.png" style="width: 46px; height: 46px;"><span class="text-light1"><sup class="text-sm" style="color: #19ae69; font-weight: 800;">PRJ</sup> <span class="lato">clubmate</span></span>
					</div>
					<span class="text-xxl">
						<span class="text-light1 raleway">2018 - PRESENT</span>
						<br>
						Currently developing and deploying my first PWA built using MEN stack with JQUERY (for DOM manipulation & AJAX) and EJS templating (for mix of Server/Client Side Rendering).
						<br>
						Socket io for chat implemenation.
						<br>
						<br>
						For oversimplification: think Slack/Discord. Contact me for a feature overview.
					</span>
					<br>
					<br>
					<div class="raleway text-xxl" style="color: #e32f94; font-weight: 700;">
						Notable mentions
					</div>
					<span class="text-xxl">
						<ul style="list-style-type: disc;">
							<li>Hosted several meetups, conducted survey with 208 people in cultural fest, addressed an audience of 1500+ people in JMUN inaguration ceremony.</li>
							<li>Member of Open Source Developers Community in college</li>
						</ul>
					</span>
				</div>
				<br>
				<div class="text-5xl"><i class="fas fa-book-reader icon-circle2"></i><strong style="margin-left: 3rem;">EDUCATION</strong></div>
				<div style="padding: 0 9rem;">
					<span class="text-xxl">
						<ul style="list-style-type: disc;">
							<li>PCM with C.S. at Delhi Public School Ghaziabad</li>
							<li>Studied B.Tech in ECE at Jaypee Institute of Information Technology for 5 semesters</li>
							<li>Web Dev Bootcamp (Colt Steele), React series (Stephen Girder)</li>
							<li>Free online resources & documentations</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>