/* dist/skins/facesnap */
.stories.facesnap .story > .item-link > .item-preview {
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.25);
  background: #00bfa5;
}
.stories.facesnap .story.seen > .item-link > .item-preview {
  box-shadow: 0 0 1px 0 white;
}
.stories.facesnap .story > .item-link > .item-preview {
  border-radius: 2.0625rem !important;
}
.stories.facesnap .story > .item-link > .item-preview img {
  border-radius: 1.9375rem !important;
  background-color: white;
  border: none;
  padding: 3px;
}
@media screen and (max-width: 481px){
  .stories.facesnap .story > .item-link > .item-preview {
    border-radius: 1.8125rem !important;
  }
  .stories.facesnap .story > .item-link > .item-preview img {
    border-radius: 1.6875rem !important;
  }
}
@media screen and (max-width: 385px){
  .stories.facesnap .story > .item-link > .item-preview {
    border-radius: 1.75rem !important;
  }
  .stories.facesnap .story > .item-link > .item-preview img {
    border-radius: 1.5625rem !important;
  }
}
@media screen and (max-width: 361px){
  .stories.facesnap .story > .item-link > .item-preview {
    border-radius: 1.625rem !important;
  }
  .stories.facesnap .story > .item-link > .item-preview img {
    border-radius: 1.5rem !important;
  }
}

/* src/styles/modal */
@media screen and (max-width: 481px){
  #zuck-modal-content .story-viewer .slides .item > .media {
    width: 100%;
    height: unset;
    position: absolute;
    left: unset;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
  }
}

/* src/styles/timeline */
.stories.carousel .story {
  margin: 0.25rem 0.5rem !important;
  width: 86px;
}
span.info{
  margin-left: 0;
  font-size: 1rem;
  line-height: 1.25rem !important;
}
.stories.carousel .story > .item-link > .item-preview{
  height: 86px;
  width: 86px;
}

/* For club show page */
#club_current_stories .item-preview {
  border-radius: 0.5rem !important;
  padding: 0;
  background: white;
}

#club_current_stories .item-preview img {
  border-radius: 0.5rem !important;
  border: none;
}

#club_archives_stories .story {
  max-width: 120px;
  width: 120px;
}

#club_archives_stories .item-preview {
  border-radius: 0.5rem !important;
  padding: 0;
  background: white;
  height: 120px;
  width: 120px;
  max-height: 120px;
}

#club_archives_stories .item-preview img {
  border-radius: 0.5rem !important;
  border: none;
}

.story-viewer .foot {
  position: absolute;
  color: white;
  z-index: 1;
  bottom: 0;
  width: 100%;
  display: flex;
}

.story-viewer .view_counter {
  margin: auto;
  padding: 4px;
}

@media screen and (min-width: 768px){
  .stories.carousel .story:first-child {
    margin-left: 0 !important;
  }
  .stories.carousel .story:last-child {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 481px){
  span.info{
    font-size: 0.875rem;
  }
  .stories.carousel .story {
    width: 82px;
  }
  .stories.carousel .story > .item-link > .item-preview{
    height: 82px;
    width: 82px;
  }
  #new_story {
    height: 82px !important;
    width: 82px !important;
  }
}
@media screen and (max-width: 385px){
  span.info{
    font-size: 0.8125rem;
  }
  .stories.carousel .story {
    width: 78px;
  }
  .stories.carousel .story > .item-link > .item-preview{
    height: 78px;
    width: 78px;
  }
  #new_story {
    height: 78px !important;
    width: 78px !important;
  }
}
@media screen and (max-width: 361px){
  span.info{
    font-size: 0.75rem;
  }
  .stories.carousel .story {
    width: 74px;
  }
  .stories.carousel .story > .item-link > .item-preview{
    height: 74px;
    width: 74px;
  }
  #new_story {
    height: 74px !important;
    width: 74px !important;
  }
}
.delete-story {
  cursor: pointer;
}
