<div class="card mt-0 border-light-lr">
  <div id="chatbox" class="yellowback">
    <div id="messages" class="messages3 card-body3 scroll moz-scroll">
      <div class="text-center">
        <button id="load-prevMsgs-btn" class="chat-head4 nodisplay" value="" type="button">
          <span id="load-prevMsgs-span"></span>LOAD PREV
        </button>
      </div>
      <div id="prevMsgs-div" class="">
        <div id="prevMessage-div" class="chat-head3 my-1 nodisplay" style="background-color: rgba(255,255,255,0.5);">^ PREVIOUS MESSAGES ^</div>
      </div>
    </div>
    <div class="input-bottom valign px-1">
      <div class="input-group">
        <textarea id="club-message" type="text" onfocus="block_display('pushmsg'); dec_height();" class="emoji-input2 chatinput text-sm form-control search2 form-control-sm shadow scroll moz-scroll" name="msgText" placeholder="Write a message" rows="1" autofocus required></textarea>
      </div>
      <% if(currentUser){ %>
        <div class="pushmsg mt-auto"><button id="club-send" class="btn btn-sm btn-success btn-round ml-1" title="Send club message"><i class="fab fa-telegram-plane"></i></button></div>
      <% } %>
    </div>
  </div>
</div>
<div class="pushmsg card mt-0" style="border-top: none;">
  <div id="status-chin" class="text-sm darkgrey valign ml-1">
    <div id="club-msg-status">Status: Idle</div>
    <div class="text-xs darkgrey chat-input-tool">
      <span class="emoji-panel">
        <button id="emoji-picker2" class="emoji-panel chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
          <div id="emoji-box2" class="intercom-composer-popover intercom-composer-emoji-popover2 emoji-up">
            <% include ../partials/emoji_picker2 %>
          </div>
          <i class="far fa-laugh-wink"></i>
        </button>
      </span>
    </div>
  </div>
</div>