<% include ../partials/header %>
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
  h1 {
    font-family: sans-serif;
    color: #343a40;
    font-size: 20px;
  }
</style>

<div id="story-maker-container">
  <div id="story-header">
    <div class="p-2 pt-3 valign">
      <div><h1 class="m-0 darkgrey">Create Story</h1></div>
      <div>
        <span>
          <label class="story-maker-options darkgrey text-xxl" title="Upload Image" for="backgroundpick" title="Upload image">
            <i class="far fa-image"></i>
          </label>
          <input type="file" id="backgroundpick" name="" accept="image/*">
        </span>
        <span id="addtextbox" class="story-maker-options darkgrey" title="Add Text"><i class="fas fa-font"></i></span>
        <span id="cropcanvas" class="story-maker-options darkgrey" title="Crop"><i class="fas fa-crop-alt"></i></span>
        <span class="story-maker-options" title="Download" style="padding-right: 0 !important;">
          <a href="" id="saveimage" class="darkgrey"><i class="fas fa-download"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div id="story-draftimg" class="d-none" value="<%= storyDraftImage %>" aspect_ratio="<%= aspectRatio %>" is_edited="false"></div>
  <canvas id="story-maker"></canvas>
  <div id="story-footer" class="d-flex d-none">
    <div class="mx-auto">
      <div class="d-flex flex-row">
        <div id="4_3" class="crop-canvas-options">4:3</div>
        <div id="1_1" class="crop-canvas-options">1:1</div>
        <div id="3_4" class="crop-canvas-options">3:4</div>
        <div id="9_16" class="crop-canvas-options">9:16</div>
      </div>
    </div>
  </div>
  <button id="story-maker-next" class="story-maker-next btn btn-light inactive" type="button" club-id="<%= clubId %>" 
  csrf-token="<%= csrfToken %>" onclick="loading_spinner('load-storyDraftNextbutton','');">
    <span id="load-storyDraftNextbutton"></span>Next <i class="fas fa-angle-right ml-2"></i>
  </button>
</div>


<% include ../partials/footer %>
<script src="/js/libs/fabric.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
<script src="/js/story-maker.js"></script>