:root {
  --color-white: #fff;
  --color-white-100: #dee3ea;
  --color-white-200: #b2bdcd;
  --color-white-300: #5d7290;

  --color-dark-500: #39475c;
  --color-dark-600: #323d4d;
  --color-dark-700: #242c37;
  --color-dark-750: #1d252f;
  --color-dark-800: #151a21;
  --color-dark-850: #0f1318;
  --color-dark-900: #0b0e11;
  --color-dark-950: #020303;

  --gradient-blue-purp: linear-gradient(to right, #30CFD0 0%, #8337df 100%);

  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253,77,77,0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
}

body {
  background-color: var(--color-dark-900);
  color: var(--color-white-100);
}

input {
  background-color: var(--color-dark-750);
  color: var(--color-white);
}

.btn.btn-light {
  background-color: var(--color-dark-700);
  color: var(--color-white-100);
  border-color: var(--color-dark-700);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.btn.btn-light:hover {
  background-color: var(--color-dark-800);
}

.darkgrey {
  color: var(--color-white-100) !important;
}

a .nolink {
  color: var(--color-white-200);
}

a .nolink:hover {
  color: var(--color-white-100);
}

.form-control {
  background-color: var(--color-dark-750);
  color: var(--color-white);
}

.form-control:focus {
  background-color: var(--color-dark-750);
  color: var(--color-white);
}

input.form-control.search:focus {
  background-color: var(--color-dark-750);
}

.card {
  background-color: var(--color-dark-800);
  color: var(--color-white-200);
}

.card-heading {
  color: var(--color-white-100);
}

.hamburger {
  background-color: var(--color-dark-850);
}


/** === Navbar === **/
button.btn.btn-secondary.search {
  border-color: var(--color-dark-500) !important;
  background-color: var(--color-dark-500) !important;
}

/** === SIDEBAR === **/
#sidebar {
  background-color: var(--color-dark-800);
  box-shadow: none;
}

#sidebar a {
  color: var(--color-white-200);
}

#sidebar a.active {
  color: var(--color-white-100);
}

.sidebar a.active {
  background-color: var(--color-dark-900);
}

.sidebar a:hover:not(.active) {
  background-color: var(--color-dark-750);
}

#sidebar-dropbox {
  background-color: var(--color-dark-800);
}

/** === Discover Page === **/
.card.discovercard {
  border: 0.5px solid var(--color-dark-800);
}

.card.discovercard:hover {
  background-color: 0.5px solid var(--color-dark-900);
  border: 0.5px solid var(--color-dark-900);
}

.sortBykey{
  color: var(--color-white-200);
  background-color: var(--color-dark-900);
}

.sortBykey:hover{
  background-color: var(--color-dark-800);
  color: var(--color-white-100);
}

.sortBykey:focus{
  outline: none;
  color: var(--color-white-100);
}

.sortBykey.active{
  background-color: var(--color-dark-800);
  color: var(--color-white-100);
}

.sortBykey.logout:hover{
  background-color: grey;
  color: var(--color-white-100);
}

.btn-light.discoverswitch {
  background: var(--color-dark-700);
  box-shadow: none;
  border-color: var(--color-dark-700);
}

.btn-light.discoverswitch:hover {
  background: var(--color-dark-800);
  border-color: var(--color-dark-800);
}

#following-switch {
  background: var(--color-dark-800);
}

#explore-switch {
  background: var(--color-dark-800);
}


/* Home page */
.topic-break {
  border-top: 0.5px solid var(--color-dark-800) !important;
  border-bottom: 0.5px solid var(--color-dark-800) !important;
}

h5.topic-h5 {
  color: var(--color-white-200) !important;
}

.topic-column {
  background-color: var(--color-dark-750);
  border-bottom: 0.5px solid var(--color-dark-750) !important;
  border-top: 0.5px solid var(--color-dark-750) !important;
}

/* For tablets */
#discover_nav {
  background-color: var(--color-dark-800);
}

#following-switch-mobile-txt {
  color: var(--color-white-200) !important;
}

.btn.discoverswitch-mobile {
  background-color: var(--color-dark-700);
  box-shadow: none;
}

.btn.discoverswitch-mobile:hover {
  background-color: var(--color-dark-750);
}

@media screen and (max-width: 1199px) {
  .sidebar a.active {
    border: none;
  }

  .sidebar-back {
    background-color: var(--color-dark-700);
  }

}

@media screen and (max-width: 767px) {
  .navback {
    background-image: linear-gradient(var(--color-dark-750), var(--color-dark-800));
    color: var(--color-white-100);
  }

  .name {
    color: var(--color-white-100) !important;
  }
}

@media screen and (min-width: 768px) {
  .navback {
    background-color: var(--color-dark-850);
  }

  .navbar-light .navbar-nav .nav-link {
    color: var(--color-white-100);
  }

  .name {
    background-color: var(--color-dark-850);
    background: var(--gradient-blue-purp);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: var(--color-dark-750);
  }

  #menu-toggle:hover {
    background-color: var(--color-dark-750);
  }


  .post-head, .post-tail, .topic-break {
    border-left: 0.5px solid var(--color-dark-800) !important;
  }

  .post-head, .post-tail, .topic-column, .show-comments {
    border-right: 0.5px solid var(--color-dark-750) !important;
}

}
