:root{
  --color-white-100: whitesmoke;
  --color-white-200: #dcddde;
  --color-white-300: #b9bbbe;
  --color-white-400: #818285;

  --color-dark-500: #39475c;
  --color-dark-600: #4f545c;
  --color-dark-650: #474b52;
  --color-dark-700: #36393f;
  --color-dark-750: #2f3136;
  --color-dark-800: #292b2f;
  --color-dark-850: #202225;
  --color-dark-900: #18191c;

  --gradient-blue-purp: linear-gradient(to right, #30CFD0 0%, #8337df 100%);

  --color-secondary-washed-out: #879eed;
  --color-secondary: #55a5e7;
  --color-light-blue: #80bdff;
}
::placeholder{
  color: var(--color-white-300) !important;
  opacity: 1;
}
:-ms-input-placeholder{
  color: var(--color-white-300) !important;
}
::-ms-input-placeholder{
  color: var(--color-white-300) !important;
}
body{
  background-color: var(--color-dark-900);
  color: var(--color-white-200);
}
input{
  background-color: var(--color-dark-750);
  color: var(--color-white-200);
  caret-color: var(--color-white-100);
}
input:focus{
  border: 1px solid var(--color-light-blue);
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus{
  box-shadow: 0 0 0px 1000px var(--color-dark-800) inset !important;
  -webkit-text-fill-color: var(--color-white-100) !important;
}

/* Anything bigger than phones */
@media screen and (min-width: 768px){
  .scroll::-webkit-scrollbar-track{background: transparent !important;}
  .scroll:hover::-webkit-scrollbar-thumb{background-color: var(--color-dark-600); border-radius: 1px;}
  .scroll::-webkit-scrollbar-thumb:hover{background-color: var(--color-white-300) !important;}
  .navback{
    background-color: var(--color-dark-850) !important;
  }
  .navbar-light .navbar-nav .nav-link{
    color: var(--color-white-100);
  }
  .navname{
    background-color: var(--color-dark-850);
    color: var(--color-white-100) !important;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    background-color: var(--color-dark-800);
  }
  #menu-toggle:hover{
    background-color: var(--color-dark-750);
  }
  .post-head, .post-tail, .topic-break, .post-head.heartpost-head{
    border-color: var(--color-dark-800) !important;
  }
  .post-head, .post-tail, .topic-column, .show-comments{
    border-color: var(--color-dark-800) !important;
  }
  .college-infobtn .fa-newspaper, .college-infobtn .fa-briefcase,
  .college-infobtn .fa-utensils, .college-infobtn .fa-external-link-alt{
    -webkit-text-stroke-color: var(--color-dark-900) !important;
  }
  .btncollapse-div.border-light{
    border: none !important;
  }
  #btncollapse-club.btncollapse-club.btncollapse-club-dark{
    color: var(--color-white-200) !important;
    border-width: 6px !important;
  }
}
@media screen and (max-width: 1199px){
  .sidebar a.active{
    border-color: var(--color-dark-700);
  }
  .sidebar-back{
    background-color: var(--color-dark-800);
  }
  #sidebar-dropbox{
    border-color: var(--color-dark-750);
  }
  a.hr2.active{
    box-shadow: none;
  }
  #inbox_mobile .fa-comment-dots{color: #8c8f94;}
  #inbox_mobile{-webkit-text-stroke-color: var(--color-dark-700); color: var(--color-white-100);}
  #inbox_mobile:hover{background-color: var(--color-dark-900);  border-color: var(--color-dark-750);}
  .navbar-light .navbar-toggler{filter: invert(1);}
  .navbar-toggler:hover, .navbar-toggler:focus{background-color: #e7e6e3;  border-color: #d0cec9 !important;}
  .navbar-light .navbar-nav .nav-link{color: var(--color-white-100);}
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .nav-link.burgernav.requests{color: white;}
}
/* Mobile Phones */
@media screen and (max-width: 767px){
  .navname{
    color: var(--color-white-100) !important;
  }
  .navback{
    background-image: linear-gradient(var(--color-dark-750), var(--color-dark-800));
    color: var(--color-white-100);
  }
  .btn.btncollapse-user.btncollapse-user-dark{
    background-color: var(--color-dark-800) !important;
    border-color: var(--color-dark-800) !important;
  }
  .btn.btncollapse-user.btncollapse-user-dark.collapsed, .btn.btncollapse-club.btncollapse-club-dark.btncollapse-club-nongrad.collapsed{
    background-color: var(--color-dark-850) !important;
    border-color: var(--color-dark-850) !important;
  }
  .btn.btncollapse-club.btncollapse-club-dark.btncollapse-club-nongrad{
    color: var(--color-white-200) !important;
    background-color: var(--color-dark-800) !important;
  }
  .btn.btncollapse-club.btncollapse-club-grad.btncollapse-club-dark{
    border-color: transparent !important;
  }
  .btn.btncollapse-club.btncollapse-club-grad.btncollapse-club-dark.nofill-color{
    color: var(--color-white-200) !important;
  }
  .chatlist-background{
    background-image: url(/images/chat-dark.svg);
  }
  .btncollapse-club-grad.collapsed{
    box-shadow: 0 -0.5rem 0 1rem var(--color-dark-900) !important;
    outline: 0.5rem solid var(--color-dark-900) !important;
  }
  .gradient-wrap.coverback{
    background-color: var(--color-dark-900) !important;
  }
}
button.gb{
  background-color: var(--color-dark-700) !important;
  color: var(--color-white-300) !important;
}
button.gb:focus{
  color: var(--color-dark-900) !important;
}
button.gb.gb8:focus{
  background-color: var(--color-dark-800) !important;
  color: var(--color-white-100) !important;
}
.btn{
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-700);
  color: var(--color-white-200);
}
.btn:hover{
  background-color: var(--color-dark-600);
  border: 1px solid var(--color-dark-600);
  color: var(--color-white-100);
}
.btnxs.btnshadow{
  box-shadow: 0px 2px 5px -2px rgb(0, 0, 0, 0.5);
}
.btn-secondary{
  border-color: var(--color-dark-500) !important;
  background-color: var(--color-dark-500) !important;
}
.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
  border-color: var(--color-dark-650) !important;
  background-color: var(--color-dark-600) !important;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
  border-color: var(--color-dark-600) !important;
  background-color: var(--color-dark-600) !important;
}
.btn.btn-light{
  background-color: var(--color-dark-700);
  color: var(--color-white-100) !important;
  border-color: var(--color-dark-700);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.btn.btn-light:hover{
  background-color: var(--color-dark-800);
}
.btn-light.btn-college:focus{
  border-color: var(--color-dark-600) !important;
}
.btn.btn-white{
  background-color: var(--color-dark-700);
}
.btn.btn-white:focus{
  border-color: var(--color-dark-700);
}
.btn.btn-dark{
  background-color: var(--color-dark-800);
  border-color: var(--color-dark-600);
}
.btn.btn-success{
  background-color: #26b07c !important;
  border-color: #26b07c !important;
  border-bottom-width: 2px;
  color: white;
}
#postbutton{
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.45), inset 0px 1px 1px rgba(255,255,255,0.15);
}
#preview-postimg:not(.active){
  filter: brightness(0.25);
}
select{
  border-color: #26b07c;
}
.btn.moderation.btn-light{
  background-color: transparent !important;
  border-color: transparent;
  color: #646667 !important;
}
.btn.moderation.btn-light:hover{
  background-color: var(--color-dark-800) !important;
  border-color: var(--color-dark-600);
}
.btn.moderation.btn-info:hover, .btn.moderation.btn-info:not(:disabled):not(.disabled).active, .btn.moderation.btn-info:not(:disabled):not(.disabled):active, .show>.btn.moderation.btn-info.dropdown-toggle{
  background-color: var(--color-dark-800) !important;
  border: 2px solid var(--color-dark-500) !important;
}
.btn-college2{
  background-color: var(--color-dark-800) !important;
  border-color: var(--color-dark-800) !important;
  color: #ed4245 !important;
}
.btn-college2:hover{
  background-color: var(--color-dark-750) !important;
  color: #ed4245 !important;
}
.btn-college2.collegediv-follow:hover{
  background-color: var(--color-dark-700) !important;
  border-color: var(--color-dark-700) !important;
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.25), 0px 1px 4px -1px rgba(0,0,0,0.5) !important;
}
.btn-college{
  border-color: var(--color-dark-700) !important;
}
.btn-college:hover{
  border-color: var(--color-dark-600) !important;
  background-color: var(--color-dark-600) !important;
  box-shadow: 0px 2px 4px -1px rgb(0, 0,0 , 0.3) !important;
}
.btn-settings{
  color: var(--color-light-blue) !important;
  background-color: var(--color-dark-700) !important;
  border-color: var(--color-dark-700) !important;
}
.btn-search{
  background-color: var(--color-dark-900);
  color: var(--color-white-100);
  border-color: #811414 !important;
}
.btn-search:hover{
  background-color: var(--color-dark-700);
}
button.dropdown-toggle{
  color: var(--color-white-200);
  background-color: transparent !important;
  border: none !important;
}
button.dropdown-toggle:hover{
  color: var(--color-white-100);
}
.dropdown-menu{
  background-color: transparent;
}
select{
  background-color: var(--color-dark-700);
  color: var(--color-white-200) !important;
}
select:focus-visible{
  outline-color: var(--color-dark-500);
}
.blackcolor{
  color: var(--color-white-200) !important;
}
.darkgrey{
  color: var(--color-white-300) !important;
}
.lightgrey2{
  color: #646667 !important;
}
a{
  color: var(--color-light-blue);
}
a:hover{
  color: var(--color-secondary)
}
a .nolink{
  color: var(--color-white-200);
}
a .nolink:hover{
  color: var(--color-white-100);
}
a.black:hover{
  color: white;
}
.hr-light{
  border-top: 0.5px solid var(--color-dark-750);
}
.hr1{
  border-color: var(--color-dark-750);
}
.form-control{
  background-color: var(--color-dark-850);
  color: var(--color-white-200);
  border: 1px solid var(--color-dark-850);
}
.form-control:focus{
  background-color: var(--color-dark-900);
  color: var(--color-white-100);
  box-shadow: none !important;
}
.form-control.shadow{
  background-color: var(--color-dark-900) !important;
  color: var(--color-white-100);
  box-shadow: none !important;
}
.form-control.shadow:focus{
  box-shadow: inset 0px 0.25px 2px 0px rgba(0,0,0,0.35) !important;
}
textarea#club-message.form-control.shadow , textarea#user-message.form-control.shadow{
  background-color: var(--color-dark-850) !important;
}
input.form-control.search{
  border: 1px solid var(--color-dark-750);
}
input.form-control.search:focus{
  background-color: var(--color-dark-750);
}
.form-control:disabled, .form-control[readonly]{
  background-color: var(--color-dark-800);
  border-color: var(--color-dark-850) !important;
}
.card{
  background-color: var(--color-dark-800);
  color: var(--color-white-200);
}
.card-heading{
  color: var(--color-white-100);
}
.hamburger{
  background-color: var(--color-dark-850);
}
.bluecolor3{
  color: var(--color-white-100) !important;
}
.greyback{
  background-color: var(--color-dark-900);
}
.black{
  color: var(--color-white-200);
}
.badge-white{
  background: var(--color-dark-600) !important;
  color: var(--color-white-200) !important;
}
.badge-light{
  border-color: var(--color-dark-700);
  background: var(--color-dark-800);
  color: #646667;
}
.badge-success{
  background-color: #19ae69;
}
.badge-danger{
  background-color: #ed4245;
}
.badge-warning{
  background-color: #cb8615;
}
.text-shadow-white{
  text-shadow: none;
}
.whiteback{
  background-color: var(--color-dark-800) !important;
}
.list-group-item{
  background-color: var(--color-dark-900);
}
.grey{
  color: var(--color-white-200);
}
a.grey:hover{
  color: var(--color-white-100);
}

/* Friend requests */
.pop-container{
  background-color: var(--color-dark-900);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: var(--color-white-100);
}

/** === SIDEBAR === **/
#sidebar{
  background-color: var(--color-dark-800);
  box-shadow: none;
}
#sidebar a{
  color: var(--color-white-200);
}
#sidebar a.active{
  color: var(--color-white-100);
}
#sidebar a.active{
  background-color: var(--color-dark-900);
}
#sidebar a:hover:not(.active){
  background-color: var(--color-dark-700);
  color: var(--color-white-100);
}
#sidebar-dropbox{
  background-color: var(--color-dark-800);
}
.popup-box{
  background-color: var(--color-dark-800);
  border-color: var(--color-dark-750);
}
.pop-header{
  background-color: var(--color-dark-800);
}

/** === Discover Page === **/
.card.discovercard{
  border: 0.5px solid var(--color-dark-800);
}
.card.discovercard:hover{
  background-color: 0.5px solid var(--color-dark-900);
  border: none;
}
.sortBykey{
  color: var(--color-white-200);
  background-color: var(--color-dark-900);
}
.sortBykey:hover{
  background-color: var(--color-dark-800);
  color: var(--color-white-100);
}
.sortBykey:focus{
  outline: none;
  color: var(--color-white-100);
}
.sortBykey.active{
  background-color: var(--color-dark-800);
  color: var(--color-white-100);
}
.sortBykey.logout:hover{
  background-color: var(--color-dark-900);
  color: var(--color-white-100);
}
.btn-light.discoverswitch{
  background: var(--color-dark-700);
  border-color: var(--color-dark-700);
}
.btn-light.discoverswitch:hover{
  background: var(--color-dark-800);
  border-color: var(--color-dark-800);
}
#following-switch{
  color: white;
  background: rgb(244,128,36);
  background: linear-gradient(270deg, #27243f 0%, #409940 5%, #2e4058 25%, #0e1a34 100%);
  cursor: default;
  text-shadow: 0 0 3px rgb(0 0 0 / 25%);
  white-space: nowrap;
}
#following-switch-mobile{
  background: linear-gradient(300deg, #003366 10%, #7ddc1f 15%, #2e4058 45%, #003366 100%);
  cursor: default;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#explore-switch{
  color: white;
  background: rgb(100,149,237);
  background: linear-gradient(90deg, #444152 25%, #7a637f 65%, #e4b4ad 85%, #ff7062 100%);
  cursor: default;
  text-shadow: 0 0 3px rgba(0,0,0,0.35);
  white-space: nowrap;
}
#explore-switch-mobile{
  background: linear-gradient(80deg, #444152 10%, #7a637f 65%, #ff7062 80%, #e4b4ad 85%);
  cursor: default;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#following-switch-mobile-txt, #explore-switch-mobile-txt{
  color: var(--color-white-200) !important;
}
.btn.discoverswitch-mobile{
  background-color: var(--color-dark-700);
}
.btn.discoverswitch-mobile:hover{
  background-color: var(--color-dark-750);
}

/* Home page */
.topic-break{
  border-top: 0.5px solid var(--color-dark-800) !important;
  border-bottom: 0.5px solid var(--color-dark-800) !important;
}
h5.topic-h5{
  color: var(--color-white-200) !important;
}
.topic-column{
  background-color: var(--color-dark-750);
  border-bottom: 0.5px solid var(--color-dark-750) !important;
  border-top: 0.5px solid var(--color-dark-750) !important;
}
#hot_topics_hr, .quote{
  border-color: var(--color-dark-600) !important;
}
.quote.greyback{
  background-color: var(--color-dark-800) !important;
}
.fa-ellipsis-h{
  color: #7a7b7c !important;
}
button.vote{
  color: var(--color-white-200);
}
button.upVotebtn:hover, button.downVotebtn:hover{
  color: var(--color-dark-750);
}
.fas.fa-caret-up, .fas.fa-caret-down{
  -webkit-text-stroke: 1.3125px var(--color-white-200);
}
.far.fa-thumbs-up, .far.fa-heart{
  -webkit-text-stroke-width: 0.75px !important;
  -webkit-text-stroke-color: var(--color-dark-800);
}
button.heartbtn:hover, .fa-heart.grey:hover{
  color: #bb2020;
}
.vote-subpost.fa-thumbs-up, .vote-subpost.fa-thumbs-down{
  -webkit-text-stroke: 0.25px var(--color-dark-800) !important;
}
.fas.fa-thumbs-down{
  color: black !important;
  -webkit-text-stroke-color: lightslategrey;
}
.greencolor{
  color: #26b07c !important;
}
.greencolor3{
  color: var(--color-white-200) !important;
}
.orangecolor2{
  color: #cc7000 !important;
}
.redcolor{
  color: #bd3a44 !important;
}
.redcolor2{
  color: #d25c61 !important;
}
.redcolor3{
  color: var(--color-white-300) !important;
}
.fas.fa-ellipsis-v{
  -webkit-text-stroke: 0.25px var(--color-dark-800);
}
.circle-plus .circle{
  border: solid 2.5px var(--color-dark-900);
}
.container.drop-shadow1{
  background-color: var(--color-dark-700);
  color: var(--color-white-200);
}
.dropitems2:hover, .dropitems:hover{
  background-color: var(--color-dark-750);
}
.post-head{
  border-top: 5px solid var(--color-dark-800) !important;
}
.post-tail{
  border-bottom: 0.5px solid var(--color-dark-800) !important;
}

/* College Page */
.college{
  color: var(--color-white-200);
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 3px, var(--color-dark-900) 6px, var(--color-dark-900) 6px);
  border-bottom: 0.5px solid var(--color-dark-800);
}
.college-infobtn:hover{
  background-color: var(--color-dark-800);
}
.border-light{
  border: 0.5px solid var(--color-dark-800) !important;
}
#college_scroll{
  border-bottom: 1px solid var(--color-dark-700) !important;
}
.collegename{
  background-color: var(--color-dark-800);
  border: 0.5px solid var(--color-dark-800);
}
.collegename-search{
  background-color: var(--color-dark-850);
  border: 0.5px solid var(--color-dark-900);
}
.searchdp.noImage{
  filter: brightness(0.25);
}

a > .collegedp.chatsdp{
  transition: unset !important;
}
a > .collegedp.chatsdp:hover{
  border: 4px solid var(--color-dark-750);
}
.category{
  color: var(--color-white-200);
  background-color: var(--color-dark-700);
  padding-left: 4px;
}
.no-fa-text-stroke-dark{
  -webkit-text-stroke: 0 !important;
}
a.grey.mobiletext{
  color: var(--color-white-200);
}
a.grey.mobiletext:hover{
  color: white;
}
div.carousel-img{
  border-color: var(--color-dark-800);
  box-shadow: inset 0px 0px 3px -1px rgba(0,0,0,0.75);
}
.btn.btncollapse{
  border-color: var(--color-dark-800) !important;
  background-color: var(--color-dark-800);
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0, 0.75);
}.btn.btncollapse#dropchat{
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0, 0.35);
}
.btncollapse-content{
  background-color: var(--color-dark-800);
}
.yellowback{
  background-color: var(--color-dark-800);
}
.border-light-lr{
  border-left: 0.5px solid var(--color-dark-800) !important;
  border-right: 0.5px solid var(--color-dark-800) !important;
}
.card-header.tabcontainer{
  box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.65);
  background-color: var(--color-dark-850);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: var(--color-white-100);
  background-color: var(--color-dark-800);
  border-color: var(--color-dark-700);
  border-bottom-color: transparent !important;
  box-shadow: 0px 5px 3px 0px var(--color-dark-800);
}
.nav-tabs .nav-link:hover{
  color: var(--color-white-100);
  border-color: var(--color-dark-750);
}
.topnotch-left:before, .topnotch-right:before{
  background: var(--color-dark-800);
  border-color: var(--color-dark-800);
}
.topic{
  background-color: var(--color-dark-700) !important;
}
#input_topic:focus{
  border: 1px solid var(--color-light-blue) !important;
}
.description:focus{
  border: 1px solid var(--color-light-blue);
}
.description2{
  background-color: var(--color-dark-800) !important;
}
.description2:focus{
  border-color: transparent;
}
.chat-input-tool{
  color: var(--color-white-300);
  background-color: transparent !important;
  border-color: transparent !important;
}
.chat-input-tool:hover{
  color: var(--color-white-100);
}
.custom-file-upload{
  background-color: var(--color-dark-700);
  box-shadow: none;
  border: 1px solid var(--color-dark-700);
  color: var(--color-white-200);
}
.custom-file-upload:hover{
  border-color: var(--color-dark-600);
  background-color: var(--color-dark-600);
  box-shadow: 0 -2px 10px var(--color-dark-800);
}
.custom-file-upload.noshadow{
  box-shadow: none !important;
}
#discover_nav{
  background-color: var(--color-dark-800);
}

/* === Chats === */
.chat-item{
  background-color: var(--color-dark-700);
  border-bottom: var(--color-dark-900);
}
.chat-item:hover{
  border-bottom: var(--color-dark-900);
  background-color: var(--color-dark-600);
}
.chatlist-content{
  border-bottom: var(--color-dark-850);
}
.chat-item.active{
  background-color: var(--color-dark-600);
  border-left: 3px solid var(--color-dark-600);
  border-right: 3px solid var(--color-dark-600);
}
.chat-msg{
  background-color: var(--color-dark-700);
  border: none;
}
.chat-msg2{
  background-color: rgb(5,71,64);
  border: none;
}
.chat-msg3{
  background-color: transparent;
}
.chat-msg-div{
  color: var(--color-white-100);
}
.chat-head4{
  background-color: var(--color-dark-700);
}
#prevMessage-div{
  background-color: rgba(255,255,255,0.15);
}
.chatlist-item{
  background-color: var(--color-dark-800);
  border-bottom-color: var(--color-dark-750);
}
.chatlist-item:hover, .chatlist-item.active{
  background-color: var(--color-dark-750);
  border-color: var(--color-dark-600);
  border-bottom-color: var(--color-dark-750);
}
.chatlist-club{
  border-color: var(--color-dark-900);
}
.chatlist-club:hover, .chatlist-club.active{
  background-color: var(--color-dark-850);
}
.pushmsg.card{
  background-color: var(--color-dark-700);
}
.bootstrap-datetimepicker-widget{
  background-color: var(--color-dark-700);
}
time.calendar{
  box-shadow: 0 1px 0 var(--color-white-300), 0 2px 0 var(--color-dark-800), 0 3px 0 var(--color-white-300), 0 4px 0 var(--color-dark-800), 0 5px 0 var(--color-white-300), 0 0 0 1px var(--color-white-300);
}
.story{
  border-color: var(--color-dark-700);
}
.story-label{
  color: var(--color-white-400) !important;
}
.story-alt-plus{
  color: var(--color-dark-300);
  font-weight: 300;
}
#new_story_label{
  color: #7a7b7c !important;
}
#new_story{
  color: #7a7b7c;
  border-color: #666666 !important;
  background-color: var(--color-dark-900);
}
.page-link, .page-item.disabled .page-link{
  background-color: var(--color-dark-900);
  border-color: var(--color-dark-800);
}
.page-link:hover{
  background-color: var(--color-dark-800);
  border-color: var(--color-dark-750);
}
.category-head{
  color: var(--color-white-100) !important;
  background-color: rgba(255,255,255, 0.1) !important;
}
#myprofileimage_on_collegepage{
  border-color: var(--color-dark-800);
}
.check-label{
  background: var(--color-dark-600);
}
.smalldppad{
  background-color: var(--color-dark-800);
}
.modal-content{
  background-color: var(--color-dark-800);
}
.modal-backdrop{
  background-color: black;
}
#new_club_img{
  filter: hue-rotate(180deg);
}
.slider{
  background-color: var(--color-dark-700) !important;
}
.intercom-composer-popover, .intercom-composer-popover-input, .intercom-composer-popover-input2{
  background-color: var(--color-dark-800);
}
.room-container-div{
  background-color: var(--color-dark-800);
}
.room-container.whitesmokeback{
  background-color: var(--color-dark-700) !important;
}
.room-container{
  color: var(--color-white-300);
  border-color: var(--color-dark-600);
}
.room-container:hover{
  color: white;
}
#create-new-room-container{
  border-color: grey;
}
.text-shadow-white{
  text-shadow: none !important;
}
.mail-wrap{
  border-color: var(--color-dark-700);
  background: repeating-linear-gradient(135deg, var(--color-dark-700) , var(--color-dark-700) 10px, #3C7AB8 0, #3C7AB8 20px, var(--color-dark-700) 0, var(--color-dark-700) 30px, #CB2C4B 0, #CB2C4B 40px);
}
.commentwrap, .subpost-left{
  border-color: var(--color-dark-650);
  background: repeating-linear-gradient(45deg, var(--color-dark-750), var(--color-dark-750) 3px, var(--color-dark-700) 3px, var(--color-dark-700) 5px );
}
.commentwrap{
  border-color: var(--color-dark-700);
}
.subPostimg-div{
  border-color: var(--color-dark-700);
}
.gradient-wrap.coverback{
  background-color: var(--color-dark-800) !important;
}
#not_in_room{
  opacity: 0.25;
}
.info > .name{
  color: var(--color-white-300);
}
.stories.facesnap .story:not(.seen) > .item-link > .item-preview {
  background: #2bc48a !important;
}
.stories.facesnap .story > .item-link > .item-preview img{
  border-color: var(--color-dark-800) !important;
  background-color: var(--color-dark-800) !important;
}