<form action="/colleges/<%= collegeName %>/mess/add" method="POST">
  <label for="messName">Mess name:</label><br>
  <input type="text" id="messName" name="messName"><br>
  <input type="submit" value="Submit"><br>
</form>