<div class="card mt-0 border-light">
  <div id="drop-chat" onclick="none_display('pushmsg');" class="btn btn-sm boldtext btncollapse text-left valign" data-toggle="collapse" data-target="#chatbox">
    <div class="text-sm mobilebold">
      <span id="latestMsg">Direct chat</span>
      <% if(conversationId && conversationId != ''){ %>
        <span id="latestMsg-hidden" class="truncate1 lightgrey nodisplay"></span>
      <% } else{ %>
        <span id="latestMsg-hidden" class="nodisplay">Direct chat</span>
      <% } %>
      <% if(conversationId && conversationId != '' && isBlocked && isBlockedByFoundUser){ %>
        <span class="text-xxxs boldtext redcolor">(BLOCKED)</span>
      <% } %>
    </div>
    <div class="boldtext text-xxxs ml-2">
      <% if(conversationId && conversationId != ''){ %>
        <% if(recepient.isLoggedIn){ %>
          <svg id="isUserOnChatbox" height="12" width="12">
            <circle cx="6" cy="6" r="4" stroke="#60b769" stroke-width="1" fill="#9feca6"/>
          </svg>
        <% } else{ %>
          <svg id="isUserOnChatbox" height="12" width="12">
            <circle cx="6" cy="6" r="4" stroke="#f9af4a" stroke-width="1" fill="#fff3d7"/>
          </svg>
        <% } %>
      <% } else{ %>
        <svg id="isUserOnChatbox" height="12" width="12">
          <circle cx="6" cy="6" r="4" stroke="silver" stroke-width="1" fill="white"/>
        </svg>
      <% } %>
    </div>
  </div>
  <div id="chatbox" class="yellowback collapse">
    <div id="messages" class="messages2 card-body3 scroll moz-scroll">
      <div class="text-center">
        <button id="load-prevMsgs-btn" class="chat-head4 nodisplay" value="" type="button">
          <span id="load-prevMsgs-span"></span>LOAD PREV
        </button>
      </div>
      <div id="prevMsgs-div" class="">
        <div id="prevMessage-div" class="chat-head3 my-1 nodisplay" style="background-color: rgba(255,255,255,0.5);">^ PREVIOUS MESSAGES ^</div>
      </div>
    </div>
    <div class="input-bottom valign px-1">
      <div class="input-group">
        <input id="user-message" onfocus="block_display('pushmsg'); dec_height();" class="emoji-input2 commentbox text-sm form-control search2 form-control-sm shadow" type="text" name="msgText" placeholder="Write a message" required>
      </div>
      <% if(currentUser){ %>
        <div class="pushmsg"><button id="user-send" class="btn btn-sm btn-success btn-round ml-1" title="Send club message"><i class="fab fa-telegram-plane"></i></button></div>
      <% } %>
    </div>
  </div>
</div>
<div class="pushmsg card mt-0" style="border-top: none;">
  <div class="text-sm darkgrey valign ml-1">
    <div id="msg-status">Status: Idle</div>
    <div class="text-xs darkgrey chat-input-tool">
      <span class="emoji-panel">
        <button id="emoji-picker2" class="emoji-panel chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
          <div id="emoji-box2" class="intercom-composer-popover intercom-composer-emoji-popover2">
            <% include ../partials/emoji_picker2 %>
          </div>
          <i class="far fa-laugh-wink"></i>
        </button>
      </span>
      <% if(conversationId && conversationId != '' && !isBlocked){ %>
        <span id="block-user-span">
          <span id="block-user" class="btn btn-sm chat-input-tool" title="Block user" value="true"><i class="fas fa-ban"></i></span>
        </span>
      <% } else if(conversationId && conversationId != '' && isBlocked && !isBlockedByFoundUser){ %>
        <span id="block-user-span">
          <span id="block-user" class="btn btn-sm chat-input-tool redcolor" title="Unblock user" value="false"><i class="fas fa-ban"></i></span>
        </span>
      <% } %>
    </div>
  </div>
</div>