<div class="card mt-0 border-light btncollapse-div" style="border-bottom-width: 1px !important;">
  <div id="drop-chat" onclick="none_display('pushmsg'); mobileShowChatsList();" class="btn btn-sm boldtext btncollapse text-left valign" data-toggle="collapse" data-target="#chatbox">
    <div class="text-sm mobilebold">
      <span><%= chatHeadName %></span>
      <% if(conversationId && conversationId != '' && isBlocked && isBlockedByFoundUser){ %>
        <span class="text-xxxs boldtext redcolor">(BLOCKED)</span>
      <% } %>
    </div>
    <div class="boldtext text-xxxs ml-2">
      <% if(wasActiveToday && wasActiveMinuteago){ %>
        <svg id="isUserInRoom" height="12" width="12">
          <circle cx="6" cy="6" r="4" stroke="#60b769" stroke-width="1" fill="#9feca6"/>
        </svg>
      <% } else if(wasActiveToday && !wasActiveMinuteago){ %>
        <svg id="isUserInRoom" height="12" width="12">
          <circle cx="6" cy="6" r="4" stroke="#f9af4a" stroke-width="1" fill="#ffdfaf"/>
        </svg>
      <% } else{ %>
        <svg id="isUserInRoom" height="12" width="12">
          <circle cx="6" cy="6" r="4" stroke="rgba(150,150,150,0.5)" stroke-width="1" fill="transparent"/>
        </svg>
      <% } %>
    </div>
  </div>
  <div id="chatbox" class="yellowback collapse btncollapse-content">
    <div id="messages_container" class="chats-feedpage card-body3 scroll moz-scroll">
      <div class="text-center" style="margin-bottom: -4.5rem;">
        <button id="load-prevMsgs-btn" class="chat-head4 nodisplay" value="" type="button">
          <span id="load-prevMsgs-span"></span>LOAD PREV
        </button>
      </div>
      <div id="prevMsgs-div" class="">
        <div id="prevMessage-div" class="chat-head3 nodisplay">^ PREVIOUS MESSAGES ^</div>
      </div>
    </div>
    <div class="input-bottom valign px-1">
      <div class="input-group">
        <textarea id="user-message" type="text" onfocus="block_display('pushmsg'); dec_height();" class="emoji-input2 chatinput text-md form-control shadow scroll moz-scroll" name="msgText" placeholder="Write a message" rows="1" autofocus required></textarea>
      </div>
      <% if(currentUser){ %>
        <div class="pushmsg mt-auto"><button id="user-send" class="btn btn-sm btn-success btn-round ml-1" title="Send club message"><i class="fab fa-telegram-plane"></i></button></div>
      <% } %>
    </div>
  </div>
</div>
<div class="pushmsg card mt-0">
  <div id="chat_status_chin" class="text-sm darkgrey valign ml-1">
    <div id="msg-status">Status: Idle</div>
    <div class="text-xs darkgrey chat-input-tool">
      <span class="emoji-panel2">
        <button id="emoji-picker2" class="chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
          <div id="emoji-box2" class="intercom-composer-popover intercom-composer-emoji-popover2 emoji-up">
            <% include ../partials/emoji_picker2 %>
          </div>
          <i class="far fa-laugh-beam"></i>
        </button>
      </span>
      <% if(conversationId && conversationId != '' && !isBlocked){ %>
        <span id="block-user-span">
          <span id="block-user" class="btn btn-sm chat-input-tool" title="Block user" value="true"><i class="fas fa-ban"></i></span>
        </span>
      <% } else if(conversationId && conversationId != '' && isBlocked && !isBlockedByFoundUser){ %>
        <span id="block-user-span">
          <span id="block-user" class="btn btn-sm chat-input-tool redcolor" title="Unblock user" value="false"><i class="fas fa-ban"></i></span>
        </span>
      <% } %>
    </div>
  </div>
</div>