<% include ../partials/header %>
    
<div class="row no-gutters">
  <div class="col-lg-2 col-md-2 px-2 mobileNone mt-5">
    <div class="list-group">
      <li class="list-group-item bluecolor text-sm boldtext mt-3"><i class="fas fa-question-circle"></i> Did you..</li>
      <li class="list-group-item text-sm darkgrey">
        <a href="https://www.facebook.com/groups/2660887327313418/" target="_blank" class="lightgrey nounderline">
          <div>... have a <span class="boldtext">question</span>?</div>
        </a>
      </li>
      <li class="list-group-item text-sm darkgrey">
        <a href="https://www.facebook.com/groups/400084017547657/" target="_blank" class="lightgrey nounderline">
          <div>... find a <span class="boldtext">bug</span>?</div>
        </a>
      </li>
      <li class="list-group-item text-sm darkgrey">
        <a href="https://www.facebook.com/groups/1351554461692986/" target="_blank" class="lightgrey nounderline">
          <div>... have a feature <span class="boldtext">suggestion</span>?</div>
        </a>
      </li>
    </div>
  </div>
  <div id="delegated-posts" class="col-lg-7 col-md-10">
    <div id="server-posts">
      <% //include ../partials/posts_index %>
    </div>
    <div class="my-3">
      <div class="d-inline-flex">
        <% if(currentUser){ %>
          <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
            <% if(currentUser.sortByKey == 1){ %>
              <div class="sortBykey text-sm mx-2 active"><i class="fas fa-fire redcolor"></i> HOT</div>
            <% } else{ %>
              <button class="sortBykey text-sm mx-2" name="sortByKey" value="1" type="submit"><i class="fas fa-fire"></i> HOT</button>
            <% } %>
            <% if(currentUser.sortByKey == 2){ %>
              <div class="sortBykey text-sm mx-2 active"><i class="fas fa-stopwatch greencolor"></i> NEW</div>
            <% } else{ %>
              <button class="sortBykey text-sm mx-2" name="sortByKey" value="2" type="submit"><i class="fas fa-stopwatch"></i> NEW</button>
            <% } %>
            <% if(currentUser.sortByKey == 3){ %>
              <div class="sortBykey text-sm mx-2 active"><i class="fas fa-award purplecolor"></i> TOP</div>
            <% } else{ %>
              <button class="sortBykey text-sm mx-2" name="sortByKey" value="3" type="submit"><i class="fas fa-award"></i> TOP</button>
            <% } %>
          </form>
        <% } else{ %>
          <div class="sortBykey text-sm mx-2 active"><i class="fas fa-fire redcolor"></i> HOT</div>
          <div class="sortBykey text-sm mx-2 logout"><i class="fas fa-stopwatch"></i> NEW</div>
          <div class="sortBykey text-sm mx-2 logout"><i class="fas fa-award"></i> TOP</div>
        <% } %>
      </div>
      <!-- <% if(!currentUser){ %>
        <div class="righttext my-1 mx-2 desktopNone text-sm"><em class="lightgrey">Logged out</em></div>
      <% } %> -->
    </div>
    <div id="client-posts"></div>
    <div class="text-center pt-2">
      <button id="load-more-btn" class="btn btn-light btn-sm btn-load" type="button" value="<%= //foundPostIds %>">
        <span id="load-more-span"></span>Load
      </button>
    </div>
  </div>
  <% if(currentUser){ %>
    <div class="col-lg-3 px-2 pb-2 mt-3 mobileNone tabletNone" style="padding-top: 2.75rem;">
      <% include ../partials/latest_updates %>
      <div>
        <div class="mt-3">
          <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
            <% if(currentUser.discoverSwitch == 1){ %>
              <div id="following-switch" class="btn btn-light discoverswitch noshadow noborder"><i class="fas fa-university"></i><span class="text-sm pl-2">Following..</span></div>
              <button class="btn btn-light discoverswitch" name="discoverSwitch" value="2" type="submit"><i class="fas fa-globe-americas"></i></button>
            <% } else if(currentUser.discoverSwitch == 2){ %>
              <button class="btn btn-light discoverswitch" name="discoverSwitch" value="1" type="submit"><i class="fas fa-university"></i></button>
              <div id="explore-switch" class="btn btn-light discoverswitch noshadow noborder"><i class="fas fa-globe-americas"></i><span class="text-sm pl-2">Explore!</span></div>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  <% } else{ %>
    <div class="col-lg-3 px-2 pb-2 mt-3 mobileNone tabletNone">
      <div><em class="lightgrey">Logged out</em></div>
      <div class="mt-3 pt-1 valign">
        <a href="/login" class="btn btn-light discoverswitch"><i class="fas fa-university"></i></a>
        <div id="explore-switch" class="btn btn-light discoverswitch noshadow noborder"><i class="fas fa-globe-americas"></i><span class="text-sm pl-2">Explore!</span></div>
      </div>
    </div>
  <% } %>
</div>
<!-- <div class="desktopNone" style="height: 43px;"></div> -->
<nav id="discover_nav" class="navbar fixed-bottom navbar-light bg-light desktopNone tabletShow discover-navback">
  <div style="width: 100vw; padding: 0.125rem 0;">
    <% if(currentUser){ %>
      <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
        <% if(currentUser.discoverSwitch == 1){ %>
          <div class="btn btn-light discoverswitch-mobile noshadow noborder valign">
            <div><i id="following-switch-mobile" class="fas fa-university discover-icon"></i></div>
            <div class="text-sm pl-2 mobilebold darkgrey">Following..</div>
          </div>
          <button class="btn btn-light discoverswitch-mobile" name="discoverSwitch" value="2" type="submit"><i class="fas fa-globe-americas discover-icon"></i></button>
        <% } else if(currentUser.discoverSwitch == 2){ %>
          <button class="btn btn-light discoverswitch-mobile" name="discoverSwitch" value="1" type="submit"><i class="fas fa-university discover-icon"></i></button>
          <div class="btn btn-light discoverswitch-mobile noshadow noborder valign">
            <div><i id="explore-switch-mobile" class="fas fa-globe-americas discover-icon"></i></div>
            <div class="text-sm pl-2 my-auto mobilebold darkgrey">Explore!</div>
          </div>
        <% } %>
      </form>
    <% } else{ %>
      <div class="valign">
        <a href="/login" class="btn btn-light discoverswitch-mobile"><i class="fas fa-university discover-icon"></i></a>
        <div class="btn btn-light discoverswitch-mobile noshadow noborder valign">
          <div><i id="explore-switch-mobile" class="fas fa-globe-americas discover-icon"></i></div>
          <div class="text-sm pl-2 mobilebold darkgrey">Explore!</div>
        </div>
      </div>
    <% } %>
  </div>
</nav>

<% include ../partials/footer %>