<% include ../partials/header %>
    
<div class="row no-gutters mt-1">
  <div class="col-lg-2 col-md-2 px-2 mobileNone">
  </div>
  <div id="delegated-posts" class="col-lg-7 col-md-10 centerpad-posts">
    <% if(friendsPostUrl){ %>
      <div class="story-container mobilepad mt-3">
        <div class="d-flex scroll moz-scroll">
          <div class="d-flex flex-column mr-3">
            <div class="story story2 story-dark"></div>
            <div class="story-label story-label2 lightgrey2 text-xxxs boldtext pb-2">someone</div>
          </div>
          <div class="d-flex flex-column mr-3">
            <div class="story story2 story-dark"></div>
            <div class="story-label story-label2 lightgrey2 text-xxxs boldtext pb-2">sometwo</div>
          </div>
          <div class="d-flex flex-column mr-3">
            <div class="story story2 story-dark"></div>
            <div class="story-label story-label2 lightgrey2 text-xxxs boldtext pb-2">somethree</div>
          </div>
          <div class="d-flex flex-column mr-3">
            <div class="story story2 story-dark"></div>
            <div class="story-label story-label2 lightgrey2 text-xxxs boldtext pb-2">somefour</div>
          </div>
        </div>
      </div>
    <% } %>
    <div id="server-posts">
      <% //include ../partials/posts_index %>
    </div>
    <div id="client-posts"></div>
    <div class="text-center pt-2">
      <button id="load-more-btn" class="btn btn-light btn-sm btn-load" type="button" value="<%= //foundPostIds %>">
        <span id="load-more-span"></span>Load
      </button>
    </div>
  </div>
  <% if(currentUser){ %>
    <div class="col-lg-3 px-2 pb-2 mt-3 mobileNone tabletNone">
      <% include ../partials/latest_updates %>
    </div>
  <% } %>
</div>

<% include ../partials/footer %>