<% include ../partials/header %>
    
<div class="row no-gutters mt-1">
  <div class="col-lg-2 col-md-2 px-2 mobileNone">
  </div>
  <div id="delegated-posts" class="col-lg-7 col-md-10 centerpad-posts">
    <% if(!friendsPostUrl){ %>
      <div class="story-alt-container px-2 mt-3">
        <div class="d-flex scroll moz-scroll py-2">
          <div class="d-flex flex-column mr-3">
            <div class="story-alt"></div>
            <div class="story-alt-label story-alt-label2 lightgrey2 text-sm mobiletext3 pb-2">visible</div>
          </div>
          <div class="d-flex flex-column mr-3">
            <div class="story-alt"></div>
            <div class="story-alt-label story-alt-label2 lightgrey2 text-sm mobiletext3 pb-2">to</div>
          </div>
          <div class="d-flex flex-column mr-3">
            <div class="story-alt"></div>
            <div class="story-alt-label story-alt-label2 lightgrey2 text-sm mobiletext3 pb-2">club</div>
          </div>
          <div class="d-flex flex-column mr-3">
            <div class="story-alt"></div>
            <div class="story-alt-label story-alt-label2 lightgrey2 text-sm mobiletext3 pb-2">members</div>
          </div>
        </div>
      </div>
    <% } %>
    <div id="server-posts">
      <% //include ../partials/posts_index %>
    </div>
    <% if(currentUser){ %>
      <div class="mx-2 mt-5 mb-1 desktopNone tabletShow">
        <% include ../partials/posts_view_toggle %>
      </div>
    <% } %>
    <div id="client-posts"></div>
    <div class="text-center pt-2">
      <button id="load-more-btn" class="btn btn-light btn-sm btn-load" type="button" value="<%= //foundPostIds %>">
        <span id="load-more-span"></span>Load
      </button>
    </div>
  </div>
  <% if(currentUser){ %>
    <div class="col-lg-3 px-2 pb-2 mt-3 mobileNone tabletNone">
      <% if(!friendsPostUrl){ %>
        <div id="posts_view_toggle">
      <% } else{ %>
        <div>
      <% } %>
        <% include ../partials/posts_view_toggle %>
      </div>
    </div>
  <% } %>
</div>

<% include ../partials/footer %>