<% include ../partials/header %>

  <div style="height: calc(100vh - 42px); width: 100%;">

    <iframe
      id="myAudioFrame"
      src=""
      allow="microphone *; screen-wake-lock *" style="width: 100%; height: 100%; border: none;">
    </iframe>

  </div>


  <script>

    function encodeBase64Url(object) {
      let bytes = new TextEncoder().encode(JSON.stringify(object));
      let n = bytes.length;
      let chars = new Array(n);
      for (let i = 0; i < n; i++) {
        chars[i] = String.fromCharCode(bytes[i]);
      }
      return btoa(chars.join("")).replace(/\+/g, "-").replace(/\//g, "_").replace(/=/g, "");
    }

    function createJAMFrame(jamUrl, roomId, params) {
      jamUrl = jamUrl || "https://jam.systems";
      if (!jamUrl.endsWith("/"))
        jamUrl = jamUrl + "/";
      let hash = !params ? "" : "#" + encodeBase64Url(params);
      let src = `${jamUrl}${roomId || ""}${hash}`

      console.log("src", src);

      document.getElementById("myAudioFrame").src = src;
    }

    const jam_configs = {
      jamUrl: "https://audio.clubmate.co.in",
      room_id: "ROOM_ID_TEST_5",
      params: {
        room: {
          name: "Room name",
          description: "Room descr",
          color: "#eee",
          stageOnly: true
        },
        ux: {
          autoCreate: true,
          autoJoin: true,
        },
        identity: {
          name: "Priyam",
          avatar: "https://avatars.githubusercontent.com/u/56730716?v=4"
        }
      },
      style: {
        width: "400px",
        height: "600px",
        border: "none"
      }
    }

    createJAMFrame(jam_configs.jamUrl, jam_configs.room_id, jam_configs.params);

        // {
        //     "room": { "name": "Room Name", "description": "Room created by us", "color": "Room color", "stageOnly": true },
        //     "ux": { "autoCreate": true, "autoJoin": true },
        //     "identity": { "name": "USER NAME", "avatar": "https://avatars.githubusercontent.com/u/20989968" }
        // }
  </script>

  <% include ../partials/footer %>